{% extends 'FrontFrontBundle::layout.html.twig' %}

{% block title %}
    {{ event.getTitle|capitalize }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/css/compiled/profile.css') }}" />       
{% endblock %} 

{% block content %}


    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs breadcrumbs-dark">
        <div class="container">
            <h1 class="pull-left">{{ event.getTitle|capitalize }}</h1>
            <a href="{{ path('front_event_show', {id : event.id, uri : event.getURI }) }}" class="btn btn-wds2 btn-md pull-right m-t-10">
                <i class="glyphicon glyphicon-eye-open"></i>
                <span> {% trans %}front.event.see_event{% endtrans %}</span>
            </a>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->


    <!--=== Content Part ===-->
    <div class="container content profile">

        <div class="row">
            <!--Left Sidebar-->
            {% include 'FrontFrontBundle:Event:leftSidebar.html.twig' with { active : 'links' } %}
            <!--End Left Sidebar-->

            <!-- Profile Content -->            
            <div class="col-md-10">

                <div class="profile-body">

                    <h2 class="heading-md">{% trans %}event.edit.links.h2{% endtrans %}</h2>
                    <br>

                    <div id="linkForm">
                        {% include 'FrontFrontBundle:Event:linkForm.html.twig' %}
                    </div>

                    {% block toastr %}
                        {{ parent() }}
                        {% set toastr_message = 'toastr.load.event.links'|trans %}
                        {% include 'FrontFrontBundle:Toastr:info.html.twig' with { toastr_message : toastr_message } %} 
                    {% endblock %}
                </div>  

                {% render(path('front_event_alerts', { id : event.id } )) %}

            </div>
        </div>
        <!-- End Profile Content -->



    </div><!--/container-->	 	
    <!--=== End Content Part ===-->


    <script>
        $(document).on('click focus', 'form input.datepicker', function () {

            $("form input.datepicker").datepicker({
                format: "yyyy-mm-dd", // bug avec les heures
                autoclose: true,
                language: "{{ app.request.locale }}"
            });
        });
    </script>

{% endblock %}    

{% block bottomJavascripts %}
    {{ parent() }}

    <script src="{{ asset('front/js/underscore-min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/jquery.fileupload.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/jquery.iframe-transport.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/FileUploader.js') }}" type="text/javascript"></script>  
{% endblock %}          
