{% extends 'FrontFrontBundle::layout.html.twig' %}

{% block title %}
    {{ entity.getTitle|capitalize }}
{% endblock %}

{% block content %}

    {% set event =  edit_form.vars.value  %}

    <!--=== Content Part ===-->
    <div class="container content profile">


        <!--=== Breadcrumbs ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">{{ entity.getTitle }}</h1>
                <a href="{{ path('front_event_show', {id : event.id, uri : event.getURI }) }}" class="btn btn-warning btn-sm pull-right">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                    <span> {% trans %}front.back{% endtrans %}</span>
                </a>
            </div><!--/container-->
        </div><!--/breadcrumbs-->
        <!--=== End Breadcrumbs ===-->

        <div class="alert alert-info fade in">
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            <strong>{% trans %}front.alert.info{% endtrans %}</strong>
            {% trans %}event.alert.new_info{% endtrans %}
        </div>

        <div class="alert alert-info fade in">
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            <strong>{% trans %}front.alert.info{% endtrans %}</strong>
            {% trans %}event.alert.new_info2{% endtrans %}
        </div>

        <!-- Profile Content -->
        <div class="col-md-12">
            <div class="profile-body margin-bottom-20">
                <div class="tab-v1">
                    <ul class="nav nav-justified nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#profile">Edit Event</a></li>
                        <li><a data-toggle="tab" href="#description">Address</a></li>
                        <li><a data-toggle="tab" href="#link">Dates</a></li>
                        <li><a data-toggle="tab" href="#picture">Pictures</a></li>
                    </ul>          
                    <div class="tab-content">



                        <div id="profile" class="profile-edit tab-pane fade in active">
                            <h2 class="heading-md">Manage your name and details.</h2>
                            <br>

                            {% form_theme edit_form with ['::bootstrap_3_horizontal_layout.html.twig'] %}

                            {{ form_start(edit_form) }}
                            {{ form_errors(edit_form) }}

                            {{ form_row(edit_form.musicTypes) }}
                            {{ form_row(edit_form.eventType) }}
                            {{ form_row(edit_form.translations) }}

                            {{ form_row(edit_form.submit) }}

                            {{ form_end(edit_form) }}
                        </div>

                        <div id="description" class="profile-edit tab-pane fade">
                            <h2 class="heading-md">Manage your descriptions</h2>
                            <br>
                            {% if not event.getAddress %}
                                {% if app.user is not null and app.user == event.user and is_granted('ROLE_USER') %}
                                    {% render(path('front_address_event_new', { id : event.id } )) %}
                                {% endif %}
                            {% else %}
                                {% render(path('front_address_edit', { id : event.getAddress().id } )) %}
                            {% endif %}



                        </div>

                        <div id="link" class="profile-edit tab-pane fade">
                            <h2 class="heading-md">Manage your links</h2>
                            <p>Link your profile to social networks.</p>
                            <br>

                            <div id='eventdates_form' class="panel-body col-sm-6">
                                <div  id='eventdate_new_edit' class="panel panel-default">
                                    {% render(path('front_eventdate_new', { id : event.id } )) %}
                                </div>
                            </div>
                            <div class="panel-body col-sm-6">
                                {% render(path('front_eventdate_add_by_weekday', { id : event.id } )) %}
                            </div>
                            <div class="clear-both"></div>
                            <div id='eventdates' class='row'>
                                {% include 'FrontFrontBundle:EventDate:list_tagbox.html.twig' with { event : event } %}
                            </div>

                        </div>

                        <div id="picture" class="profile-edit tab-pane fade">
                            <h2 class="heading-md">Add Pictures</h2>
                            <p>{% trans %}user.images_title{% endtrans %}</p>
                            <br>
                            {% set action_path = path('front_event_edit' , { id: entity.id, editId: editId }) %}
                            {% include 'FileFileBundle::uploadFileForm.html.twig' with {
                                    action_path: action_path,
                                    cancel_path: 'front_event',
                                    delete_path: 'front_event_delete',
                                    id: entity.id, 
                                    editId: editId, 
                                    existingFiles: existingFiles,
                                    entity: entity,
                            } %}


                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <!-- End Profile Content -->



</div><!--/container-->	 	
<!--=== End Content Part ===-->


<script>
    $(document).on('click focus', 'form input.datepicker', function () {

        $("form input.datepicker").datepicker({
            format: "yyyy-mm-dd", // bug avec les heures
            autoclose: true,
            language: "{{ app.request.locale }}"
        });
    });
</script>

{% endblock %}    

{% block bottomJavascripts %}
    {{ parent() }}
    <script src="{{ asset('front/js/underscore-min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/jquery.fileupload.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/jquery.iframe-transport.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/FileUploader.js') }}" type="text/javascript"></script> 
{% endblock %}          
