{% extends 'FrontFrontBundle::layout.html.twig' %}

{% block title %}
    {{ event.getTitle|capitalize }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/css/compiled/profile.css') }}" />       
{% endblock %} 

{% block content %}


    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs breadcrumbs-dark">
        <div class="container">
            <h1 class="pull-left">{{ event.getTitle|capitalize }}</h1>
            <a href="{{ path('front_event_show', {id : event.id, uri : event.getURI }) }}" class="btn btn-wds2 btn-md pull-right m-t-10">
                <i class="glyphicon glyphicon-eye-open"></i>
                <span> {% trans %}front.event.see_event{% endtrans %}</span>
            </a>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->


    <!--=== Content Part ===-->
    <div class="container content profile">

        <div class="row">
            <!--Left Sidebar-->
            {% include 'FrontFrontBundle:Event:leftSidebar.html.twig' with { active : 'pictures' } %}
            <!--End Left Sidebar-->

            <!-- Profile Content -->            
            <div class="col-md-10">

                <div class="profile-body">


                    <div class='row m-b-10 clear-both'>
                        <div class='col-md-12 col-sm-12'>
                            <h2 class="heading-md">{% trans %}event.edit.pictures.h2{% endtrans %}</h2>

                            <div  class='col-md-12 col-sm-12 m-b-20'>
                                {% set action_path = path('front_event_edit_pictures' , { id: event.id, editId: editId }) %}
                                {% set cancel_path = path('front_event_edit_pictures' , { id: event.id }) %}
                                {% include 'FileFileBundle::uploadFileForm.html.twig' with {
                                                     action_path: action_path,
                                                     cancel_path: cancel_path,
                                                     delete_path: '',
                                                     id: event.id, 
                                                     editId: editId, 
                                                     existingFiles: existingFiles,
                                                     entity: event,
                                             } %}

                            </div>
                        </div>

                        <div class='clear-both col-md-12'  id='eventPhotoForms'></div>


                        <div class="blog_masonry_3col col-md-12" id="eventPhotoList">
                            <h2 class="heading-md m-b-20">{% trans %}event.edit.pictures.list.h2{% endtrans %}</h2>

                            {% set count_photo = 0 %}
                            {% for photo in pagination %}
                                {% set count_photo = count_photo + 1 %}
                            {% endfor %}

                            {% if 1 > count_photo %}
                                <div class="alert alert-info fade in">
                                    <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                                    <strong>{% trans %}front.alert.info{% endtrans %}</strong>
                                    {% trans %}photo.list.event_no_photos{% endtrans %}
                                </div>
                            {% endif %} 
                            <div class="grid-boxes">

                                {% for photo in pagination %}
                                    {% include "FrontFrontBundle:Photo:showWithButtons.html.twig" %}
                                {% endfor %}

                            </div>    
                        </div>


                        <div class="margin-bottom-10"></div>

                        {{ knp_pagination_render(pagination) }}

                    </div>

                    {% render(path('front_event_alerts', { id : event.id } )) %}

                </div> 
            </div>
        </div>
        <!-- End Profile Content -->



    </div><!--/container-->	 	
    <!--=== End Content Part ===-->


    <script>
        $(document).on('click focus', 'form input.datepicker', function () {

            $("form input.datepicker").datepicker({
                format: "yyyy-mm-dd", // bug avec les heures
                autoclose: true,
                language: "{{ app.request.locale }}"
            });
        });
    </script>

{% endblock %}    

{% block bottomJavascripts %}
    {{ parent() }}

    <script src="{{ asset('front/js/underscore-min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/jquery.fileupload.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/jquery.iframe-transport.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/FileUploader.js') }}" type="text/javascript"></script>  
    <script>
        $(document).ready(function () {
            enableFileUploader();
        });
    </script>
{% endblock %}          
