<!-- Carousel -->
<div class="carousel slide carousel-v1" id="myCarousel">
    <div class="carousel-inner">

        {% for eventFile in event.eventFiles %}
            {% if eventFile.isValid %}
                <div class="item {% if loop.index == 1 %}active{% endif %}">
                    <img alt="{{ event.getTitle|capitalize }}" src="{{ asset(eventFile.getLargePathUri())|imagine_filter('event_carrousel') }}">
                    <div class="carousel-caption">
                        <p>{{ event.getTitle|capitalize }}</p>
                    </div>
                </div>
            {% else %}
                <div class="item">
                    <img alt="{{ event.getTitle|capitalize }}" src="{{ asset('images/wds_750x340_rose.png')|imagine_filter('event_carrousel') }}">
                    <div class="carousel-caption">
                        <p>{{ event.getTitle|capitalize }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        {% if event.eventFiles|length == 0 %}
            {% if event.getFacebookPictureUrl %}
                <div class="item active">
                <img alt="{{ event.getTitle|capitalize }}" src="{{ event.getFacebookPictureUrl }}">
                <div class="carousel-caption">
                    <p>{{ event.getTitle|capitalize }} facebook</p>
                </div>
            </div>
            {% else %}
            <div class="item active">
                <img alt="{{ event.getTitle|capitalize }}" src="{{ asset('images/wds_750x340_rose.png')|imagine_filter('event_carrousel') }}">
                <div class="carousel-caption">
                    <p>{{ event.getTitle|capitalize }}</p>
                </div>
            </div>
            {% endif %}    
        {% endif %}
    </div>

    <div class="carousel-arrow">
        <a data-slide="prev" href="#myCarousel" class="left carousel-control">
            <i class="fa fa-angle-left"></i>
        </a>
        <a data-slide="next" href="#myCarousel" class="right carousel-control">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div>
<!-- End Carousel --> 