{% if next %}
    {% set image_default_uri = 'images/wds_750x340_vert.png' %}
{% else %}
    {% set image_default_uri = 'images/wds_750x340_rose.png' %}
{% endif %}

{% if event.isValid %}
    <a href="{{ path('front_event_show', { 'id': event.id, 'uri' : event.getURI }) }}" title="{{ event.getTitle()|capitalize }}">
        <div class="col-md-6 col-sm-12 md-margin-bottom-40 category_1"  data-cat="1">
            <div class="easy-block-v1">
                <div class="easy-block-v1-badge {{ next ? 'easy-block-v1-badge-blue' : 'easy-block-v1-badge-red' }}">
                    {% if event.getNextEventDate(startdate).startdate|date("m/d/Y") == "now"|date("m/d/Y") %}
                        {% trans %}front.today{% endtrans %}
                    {% else %}
                        {{ event.getNextEventDate(startdate).startdate|localizeddate('full', 'none', app.request.locale )|capitalize }}
                    {% endif %}
                </div>                
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for eventFile in event.eventFiles %}
                            {% if eventFile.isValid %}
                                <li class="rounded-x {{ loop.index == 1  ? 'active' : '' }}" data-target="#carousel-example-generic" data-slide-to="{{ loop.index }}">
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for eventFile in event.eventFiles %}
                            {% if eventFile.isValid %}
                                <div class="item {{ loop.index == 1  ? 'active' : '' }}">
                                    <img alt="{{ event.getTitle|capitalize }}" src="{{ asset(eventFile.getLargePathUri()|imagine_filter('event')) }}">
                                </div>
                            {% else %}
                                <div class="item {{ loop.index == 1  ? 'active' : '' }}">
                                    <img alt="{{ event.getTitle|capitalize }}" src="{{ asset(image_default_uri)|imagine_filter('event') }}">
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if event.eventFiles|length == 0 %}
                            <div class="item active">
                                <img alt="{{ event.getTitle|capitalize }}" src="{{ asset(image_default_uri)|imagine_filter('event') }}">
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="overflow-h">
                    <h3>{{ event.getTitle()|capitalize }}</h3>
                </div>     
                <ul class="list-unstyled">
                    {% if event.getEventTypesText %}
                        <li>
                            <span class="color-green">Type:</span> {{ event.getEventTypesText }}
                        </li>
                    {% endif %}
                    {% if event.getEventTypesText %}
                        <li>
                            <span class="color-green">Music:</span> {{ event.getMusicTypesText }}
                        </li>
                    {% endif %}
                    {% if not event.getEventTypesText %}
                        <li>
                            &nbsp;
                        </li>
                    {% endif %}
                    {% if not event.getEventTypesText %}
                        <li>
                            &nbsp;
                        </li>
                    {% endif %}
                    <li>
                        &nbsp;
                    </li>
                </ul>    
            </div>  
        </div>
    </a>
{% endif %}

{#
{% if event.isValid %}
    <div class="col-sm-4 panel panel-list-homepage">
        <div class="event-image">
            <a class="" href="{{ path('front_event_show', { 'id': event.id, 'uri' : event.getURI }) }}">
                <img src="{{ asset(event.getDefaultImageUrl)| imagine_filter('home_thumb') }}" class="img-responsive" alt="{{ event.getTitle()|capitalize }}">
            </a>
            <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label overlay-label{% if next %}-next{% endif %}">
                <div>                    
                    <span  class="h3">
                        {% if event.getNextEventDate(startdate).startdate|date("m/d/Y") == "now"|date("m/d/Y") %}
                            {% trans %}front.today{% endtrans %}
                        {% else %}
                            {{ event.getNextEventDate(startdate).startdate|localizeddate('full', 'none', app.request.locale )|capitalize }}
                        {% endif %}
                    </span>
                </div>
            </div>    
        </div>

        <div class="panel-body">
            <div class="media">
                {% if event.user and event.user.getProfilePictureUrl %}
                    <a class="pull-right media-photo media-round card-profile-picture card-profile-picture-offset sm-hidden" 
                       href="{{ path('front_user_show_public', { 'id': event.user.id, 'username': event.user.username }) }}">
                        {% if event.user.isFacebookUser %}
                            <img src='{{ event.user.getProfilePictureUrl }}' class='img-circle' />
                        {% else %}
                            <img src='{{ asset( event.user.getProfilePictureUrl)| imagine_filter('card_profile_picture') }}' class='img-circle' />
                        {% endif %}
                    </a>
                {% endif %}

                <a class="text-normal" href="{{ path('front_event_show', { 'id': event.id, 'uri' : event.getURI  }) }}">
                    <div class="h5 listing-name text-truncate row-space-top-1" title="{{ event.getTitle()|capitalize }}">{{ event.getTitle()|capitalize }}</div>
                </a>
                <div class="text-muted listing-location text-truncate">
                    <a class="text-normal link-reset" href="{{ path('front_event_show', { 'id': event.id, 'uri' : event.getURI }) }}">{{ event.getEventTypesText }} / {{ event.getMusicTypesText }}</a>
                </div>
            </div>
        </div>

    </div> 
{% endif %}


#}