{% if next %}
    {% set image_default_uri = 'images/wds_750x340_vert.png' %}
{% else %}
    {% set image_default_uri = 'images/wds_750x340_rose.png' %}
{% endif %}

{% if event.isValid %}
    <div class="col-md-6 col-sm-12 md-margin-bottom-40 mix {{ event.getMusicTypesClasses }}" data-cat="{{ event.getMusicTypesClasses }}">

        <a href="{{ path('front_event_show', { 'id': event.id, 'uri' : event.getURI }) }}" title="{{ event.getTitle()|capitalize }}">

            <div class="easy-block-v1">
                <div class="easy-block-v1-badge {{ next ? 'easy-block-v1-badge-blue' : 'easy-block-v1-badge-red' }}">
                    {% if event.getNextEventDate(startdate).startdate|date("m/d/Y") == "now"|date("m/d/Y") %}
                        {% trans %}front.today{% endtrans %}
                    {% else %}
                        {{ event.getNextEventDate(startdate).startdate|localizeddate('full', 'none', app.request.locale )|capitalize }}
                    {% endif %}
                </div>                
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for eventFile in event.eventFiles %}
                            {% if eventFile.isValid %}
                                <li class="rounded-x {{ loop.index == 1  ? 'active' : '' }}" data-target="#carousel-example-generic" data-slide-to="{{ loop.index }}">
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for eventFile in event.eventFiles %}
                            {% if eventFile.isValid %}
                                <div class="item {{ loop.index == 1  ? 'active' : '' }}">
                                    <img alt="{{ event.getTitle|capitalize }}" src="{{ asset(eventFile.getLargePathUri()|imagine_filter('event')) }}">
                                </div>
                            {% else %}
                                <div class="item {{ loop.index == 1  ? 'active' : '' }}">
                                    <img alt="{{ event.getTitle|capitalize }}" src="{{ asset(image_default_uri)|imagine_filter('event') }}">
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if event.eventFiles|length == 0 %}
                            <div class="item active">
                                <img alt="{{ event.getTitle|capitalize }}" src="{{ asset(image_default_uri)|imagine_filter('event') }}">
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="overflow-h">
                    <h3>{{ event.getTitle()|capitalize }}</h3>
                </div>     
                <ul class="list-unstyled">
                    {% if event.getEventTypesText %}
                        <li>
                            <span class="color-green">Type:</span> {{ event.getEventTypesText }}
                        </li>
                    {% endif %}
                    {% if event.getMusicTypesText %}
                        <li>
                            <span class="color-green">Music:</span> {{ event.getMusicTypesText }}
                        </li>
                    {% endif %}
                    {% if not event.getEventTypesText %}
                        <li>
                            &nbsp;
                        </li>
                    {% endif %}
                    {% if not event.getMusicTypesText %}
                        <li>
                            &nbsp;
                        </li>
                    {% endif %}
                </ul>    
            </div>  
        </a>
    </div>

{% endif %}