{% if usersLoveEvent|length > 0 or app.user %}
    <hr> 
    <div id='loves_div'>
        {% if usersLoveEvent|length > 0 %}
            <h3>{% trans %}event.they_like{% endtrans %}</h3>
            <ul class="list-unstyled blog-photos margin-bottom-30">
                {% for userLoveEvent in usersLoveEvent %}
                    <li>
                        {% include 'FrontFrontBundle:User:memberPhoto.html.twig' with { user : userLoveEvent } %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if app.user %}
            <div class="love_form">
                {% if app.user not in usersLoveEvent %}
                    {{ form_start(love_form, {'attr' : { 'class' : 'no_validation'} }) }}
                    {{ form_widget(love_form.submit) }}
                    {{ form_end(love_form) }}
                {% else %}
                    {{ form_start(unlove_form, {'attr' : { 'class' : 'no_validation'} }) }}
                    {{ form_widget(unlove_form.submit) }}
                    {{ form_end(unlove_form) }}
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="clearfix"></div>
{% endif %}