{% extends 'FrontFrontBundle::layout.html.twig' %}

{% block title %}
    {% trans %}front.event_new_title{% endtrans %}
{% endblock %}

{% block content %}

    <!--=== Content Part ===-->
    <div class="container content profile">


        <!--=== Breadcrumbs ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">{% trans %}front.event_new_title{% endtrans %}</h1>
                {#<a href="{{ path('front_user_show_private') }}" class="btn btn-warning btn-sm pull-right">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                    <span> {% trans %}front.back{% endtrans %}</span>
                </a>#}
            </div><!--/container-->
        </div><!--/breadcrumbs-->
        <!--=== End Breadcrumbs ===-->

        <div class="alert alert-info fade in">
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            <strong>{% trans %}front.alert.info{% endtrans %}</strong>
            {% trans %}event.alert.new_info{% endtrans %}
        </div>

        <div class="alert alert-info fade in">
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            <strong>{% trans %}front.alert.info{% endtrans %}</strong>
            {% trans %}event.alert.new_info2{% endtrans %}
        </div>

        <!-- Profile Content -->
        <div class="col-md-12">
            <div class="profile-body margin-bottom-20">
                <div class="tab-v1">
                    <ul class="nav nav-justified nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#profile">Edit Event</a></li>
                        <li><a data-toggle="tab" href="#profile">Address</a></li>
                        <li><a data-toggle="tab" href="#profile">Dates</a></li>
                        <li><a data-toggle="tab" href="#profile">Pictures</a></li>
                    </ul>          
                    <div class="tab-content">



                        <div id="profile" class="profile-edit tab-pane fade in active">
                            <h2 class="heading-md">Manage your name and details.</h2>
                            <br>

                            {% form_theme form with ['::bootstrap_3_horizontal_layout.html.twig'] %}

                            {{ form_start(form) }}
                            {{ form_errors(form) }}

                            {{ form_row(form.musicTypes) }}
                            {{ form_row(form.eventType) }}
                            {{ form_row(form.translations) }}

                            {{ form_row(form.submit) }}

                            {{ form_end(form) }}
                        </div>

                       
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <!-- End Profile Content -->



</div><!--/container-->	 	
<!--=== End Content Part ===-->



{% endblock %}    