{% extends 'FrontFrontBundle::layout.html.twig' %}

{% block title %}
    {{ event.getTitle|capitalize }}
    {% if event.eventTypes|length > 0 %}
        - 
        {% for eventType in event.eventTypes %}
            {{ eventType|capitalize}}&nbsp;
        {% endfor %}
    {% endif %}
    - {{ app.session.get('city')|capitalize}}
{% endblock %}
{% block head %}
    {{ parent() }}
    <meta name="description" content="{{ event.getDescription|capitalize }}" />
    <!-- partage facebook -->
    <meta property="og:title" content="{{ event.getTitle|capitalize }}" />
    <meta property="og:description" content="{{ event.getDescription|capitalize }}" />
    <!--<meta property="og:image" content="URL_image" />-->
    <!-- partage facebook -->
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/css/compiled/event.css') }}" />       
{% endblock %}


{% block topJavascripts %}   
    {{ parent() }}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}">
    </script>
{% endblock %}    

{% block content %}

    {% include 'FrontFrontBundle:Event:eventBreadcrumb.html.twig' %}

    <!--=== Job Description ===-->
    <div class="job-description">
        <div class="container content">

            <div class="row">
                <!-- Left Inner -->
                <div class="col-md-7">                  

                    {% include 'FrontFrontBundle:Event:eventCarrousel.html.twig' %}

                    <div class="left-inner">


                        <h2>{% trans %}event.description_title{% endtrans %}</h2>
                        {{ event.getDescription()|raw }}

                    </div>

                    <!--=== Cube-Portfdlio ===-->
                    <div class="cube-portfolio margin-bottom-20">

                        <div id="grid-container" class="cbp-l-grid-fullWidth">

                            {% for eventFile in event.eventFiles %}
                                {% if eventFile.isImage %}
                                    <div class="cbp-item graphic">
                                        <div class="cbp-caption">
                                            <div class="cbp-caption-defaultWrap">
                                                <img src="{{ asset(eventFile.getLargePathUri()) }}" alt="">
                                            </div>
                                            <div class="cbp-caption-activeWrap">
                                                <div class="cbp-l-caption-alignCenter">
                                                    <div class="cbp-l-caption-body">
                                                        <ul class="link-captions">
                                                            <li><a href="{{ asset(eventFile.getLargePathUri()) }}" class="cbp-lightbox" data-title="{{ event.getTitle|capitalize }}"><i class="rounded-x fa fa-search"></i></a></li>
                                                        </ul>
                                                        <div class="cbp-l-grid-agency-title">{{ event.getTitle|capitalize }}</div>
                                                        <div class="cbp-l-grid-agency-desc">{{ event.getUser.getUsername|capitalize }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div><!--/end Grid Container-->
                    </div>
                    <!--=== End Cube-Portfdlio ===-->

                </div>
                <!-- End Left Inner -->

                <!-- Right Inner -->
                {% set user = event.getUser %}
                <div class="col-md-5"> 
                    <div class="right-inner">

                        {% include 'FrontFrontBundle:User:eventAuthor.html.twig' %}
                        
                            <div id="event_alerts" rel="{{ path('front_event_alerts', { id : event.id } ) }}">
        {% render(path('front_event_alerts', { id : event.id } )) %}
    </div>

                        <hr>

                        <h3>{% trans %}event.calendar{% endtrans %}</h3>

                        <!-- Begin timeline Content -->
                        <ul class="timeline-v2">
                            {% include 'FrontFrontBundle:EventDate:list.html.twig' with { event : event } %}
                        </ul>
                        <!-- End timeline Content -->

                        {% render(path('front_eventpresence_presences', { id : event.id } )) %}

                        <!-- Basic Map -->
                        <hr>
                        {% if event.getAddress and event.getAddress().isValid() %}    
                                {% include 'FrontFrontBundle:Event:map.html.twig' %}
                        {% endif %}
                        <!-- End Basic Map -->


                        {% render(path('front_eventlove_loves', { id : event.id } )) %}


                        <hr> 

                        <h3>{% trans %}event.share_this{% endtrans %} </h3>

                        {% include 'FrontFrontBundle::socialIcons.html.twig' %}

                    </div>   


                </div>   
            </div>
            <!-- End Right Inner -->
        </div>    
    </div>   
</div>   
<!--=== End Job Description ===-->


{% endblock %}


{% block bottomJavascripts %}
    {{ parent() }}
    <script src="{{ asset("front/js/compiled/event.js") }}"></script>
    <script type="text/javascript">
                jQuery(document).ready(function () {
                    App.init();
                    PortfolioPage.init();

                });
    </script>
{% endblock %}
