{% extends 'FrontFrontBundle::layout.html.twig' %}

{% block title %}
    {{ event.getTitle|capitalize }}
    {% if event.eventTypes|length > 0 %}
        - 
        {% for eventType in event.eventTypes %}
            {{ eventType|capitalize}}&nbsp;
        {% endfor %}
    {% endif %}
    - {{ app.session.get('city')|capitalize}}
{% endblock %}
{% block head %}
    {{ parent() }}
    <meta name="description" content="{{ event.getDescription|capitalize }}" />
    <!-- partage facebook -->
    <meta property="og:title" content="{{ event.getTitle|capitalize }}" />
    <meta property="og:description" content="{{ event.getDescription|capitalize }}" />
    <meta property="og:image" content="{{ asset('images/wedancesalsa_logo.png', absolute=true)}}" />
    <!-- partage facebook -->
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/css/compiled/event.css') }}" />       
{% endblock %}


{% block topJavascripts %}   
    {{ parent() }}
{% endblock %}    

{% block content %}

    {% include 'FrontFrontBundle:Event:eventBreadcrumb.html.twig' %}

    <!--=== Job Description ===-->
    <div class="job-description">
        <div class="container content">

            <div class="row">
                <!-- Left Inner -->
                <div class="col-md-7">                  

                    {% include 'FrontFrontBundle:Event:eventCarrousel.html.twig' %}

                    <div class="left-inner m-b-10">

                        {% include 'FrontFrontBundle:Event:socialIconList.html.twig' %}

                        <h2><i class="fa fa-file-text-o"></i>{% trans %}event.description_title{% endtrans %}</h2>
                        {{ event.getDescription()|raw }}

                        {% if not event.getDescription() %}
                            {% if app.user and app.user == event.user %}
                                {% include 'FrontFrontBundle::addBlock.html.twig' with  { 
                                    path : path('front_event_edit', { id : event.id } ) , 
                                    title : 'add_block.event.description.add_title'|trans, 
                                    paragraphe: 'add_block.event.description.add_paragraphe'|trans, 
                                    color: 'grey'
                                } %}
                            {% else %}
                                {% include 'FrontFrontBundle::infoBlock.html.twig' with  { 
                                    title : 'info_block.event.description.info_title'|trans, 
                                    paragraphe: 'info_block.event.description.info_paragraphe'|trans
                                } %}
                            {% endif%}
                        {% endif%}

                    </div>

                    <!--=== Cube-Portfdlio ===-->
                    <div class="cube-portfolio margin-bottom-20">

                        <div id="grid-container" class="cbp-l-grid-fullWidth">

                            {% set count_image = 0 %}
                            {% for eventFile in event.eventFiles %}
                                {% if eventFile.isImage %}
                                    {% set count_image = count_image + 1 %}
                                    <div class="cbp-item graphic">
                                        <div class="cbp-caption">
                                            <div class="cbp-caption-defaultWrap">
                                                <img src="{{ asset(eventFile.getLargePathUri())|imagine_filter('large') }}" alt="">
                                            </div>
                                            <div class="cbp-caption-activeWrap">
                                                <div class="cbp-l-caption-alignCenter">
                                                    <div class="cbp-l-caption-body">
                                                        <ul class="link-captions">
                                                            <li><a href="{{ asset(eventFile.getLargePathUri())|imagine_filter('large') }}" class="cbp-lightbox" data-title="{{ event.getTitle|capitalize }}"><i class="rounded-x fa fa-search"></i></a></li>
                                                        </ul>
                                                        <div class="cbp-l-grid-agency-title">{{ event.getTitle|capitalize }}</div>
                                                        <div class="cbp-l-grid-agency-desc">{{ event.getUser.getName|capitalize }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div><!--/end Grid Container-->
                    </div>
                    <!--=== End Cube-Portfdlio ===-->

                    {% if not count_image %}
                        {% if app.user and app.user == event.user %}
                            {% include 'FrontFrontBundle::addBlock.html.twig' with  { 
                                    path : path('front_event_edit_pictures', { id : event.id } ) , 
                                    title : 'add_block.event.images.add_title'|trans, 
                                    paragraphe: 'add_block.event.images.add_paragraphe'|trans, 
                                    color: 'grey' 
                                } %}
                        {% else %}
                            {% include 'FrontFrontBundle::infoBlock.html.twig' with  { 
                                    title : 'info_block.event.images.info_title'|trans, 
                                    paragraphe: 'info_block.event.images.info_paragraphe'|trans 
                                } %}
                        {% endif%}
                    {% endif%}

                </div>
                <!-- End Left Inner -->

                <!-- Right Inner -->
                {% set user = event.getUser %}
                <div class="col-md-5"> 
                    <div class="right-inner">

                        <div id="event_alerts" rel="{{ path('front_event_alerts', { id : event.id } ) }}">
                            {% render(path('front_event_alerts', { id : event.id } )) %}
                        </div>

                        {% include 'FrontFrontBundle:Event:showButtons.html.twig' %}

                        <hr>

                        <h3>{% trans %}event.calendar{% endtrans %}</h3>

                        <!-- Begin timeline Content -->
                        <ul class="timeline-v2">
                            {% include 'FrontFrontBundle:EventDate:list_next.html.twig' with { event : event } %}
                        </ul>
                        <!-- End timeline Content -->

{#                        {% render(path('front_eventpresence_presences', { id : event.id } )) %}#}

                        <!-- Basic Map -->
                        <hr>
                        {% if event.getAddress and event.getAddress().isValid() %}    
                            {% include 'FrontFrontBundle:Event:map.html.twig' %}
                        {% endif %}
                        <!-- End Basic Map -->


{#                        {% render(path('front_eventlove_loves', { id : event.id } )) %}#}


                        <hr> 
                        
                        {% include 'FrontFrontBundle:User:eventAuthor.html.twig' %}

                       {# <h3>{% trans %}event.share_this{% endtrans %} </h3>

                        {% include 'FrontFrontBundle::socialIcons.html.twig' %}#}

                    </div>   


                </div>   
            </div>
            <!-- End Right Inner -->
        </div>    
    </div>   
</div>   
<!--=== End Job Description ===-->


{% endblock %}


{% block bottomJavascripts %}
    {{ parent() }}
    <script src="{{ asset("front/js/compiled/event.js") }}"></script>
    <script type="text/javascript">
                jQuery(document).ready(function () {
                    App.init();
                    PortfolioPage.init();

                });
    </script>
{% endblock %}
