{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }} class="">
        {% for child in form %}
            {{ form_widget(child) }}
        {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block checkbox_widget %}
    {% spaceless %}
        <label for="{{ id }}" {#class="checkbox-inline"#}>
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {{ label|trans({}, translation_domain) }}
        </label>
    {% endspaceless %}
{% endblock checkbox_widget %}