<!--=== Breadcrumbs ===-->
<div class="breadcrumbs breadcrumbs-dark">
    <div class="container">
        <h1 class="pull-left">Salsa in {{ city }}, {{ page.getTitle|capitalize }}
            {% if active in ['calendar', 'festivals', 'parties', 'shows', 'workshops', 'introductions', 'concerts'] %}
                : {{ app.session.get('startdate')|localizeddate('full', 'none', app.request.locale )|capitalize }}
            {% endif %}
        </h1>
        <ul class="pull-right breadcrumb">
            <li><a href="{{ path('home') }}">{% trans %}link.home{% endtrans %}</a></li>
            <li><a href="{{ path('city_calendar', { 'searchcity': app.session.get('city'), 'searcheventdate': app.session.get('startdate') }) }}">{{ app.session.get('city')|capitalize}}</a></li>

            <li class="active">
                {{ page.getTitle|capitalize }}
            </li>

        </ul>
    </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->