<!--Left Sidebar-->
<div class="col-md-3 md-margin-bottom-40">

    <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
        <li class="list-group-item {% if active == 'calendar' %}active{% endif %}">
            <a href="{{ path('city_calendar', { 'searchcity': app.session.get('city'), 'searcheventdate': app.session.get('startdate') }) }}">
                <i class="fa fa-bar-chart-o"></i> Calendrier</a>
        </li>      


        <li class="list-group-item {% if active == 'parties' %}active{% endif %}">
            <a href="{{ path('city_party', { 'searchcity': app.session.get('city') }) }}">
                <i class="fa fa-group"></i> Soirées</a>
        </li> 
        <li class="list-group-item {% if active == 'workshops' %}active{% endif %}">
            <a href="{{ path('city_workshop', { 'searchcity': app.session.get('city') }) }}">
                <i class="fa fa-group"></i> Cours</a>
        </li> 
        <li class="list-group-item {% if active == 'introductions' %}active{% endif %}">
            <a href="{{ path('city_introduction', { 'searchcity': app.session.get('city') }) }}">
                <i class="fa fa-group"></i> Initiations</a>
        </li> <li class="list-group-item {% if active == 'concerts' %}active{% endif %}">
            <a href="{{ path('city_concert', { 'searchcity': app.session.get('city') }) }}">
                <i class="fa fa-group"></i> Concerts</a>
        </li> 
        <li class="list-group-item {% if active == 'festivals' %}active{% endif %}">
            <a href="{{ path('city_festival', { 'searchcity': app.session.get('city') }) }}">
                <i class="fa fa-group"></i> Festivals</a>
        </li> 
        <li class="list-group-item {% if active == 'shows' %}active{% endif %}">
            <a href="{{ path('city_show', { 'searchcity': app.session.get('city') }) }}">
                <i class="fa fa-group"></i> Shows</a>
        </li> 



        <li class="list-group-item {% if active == 'artists' %}active{% endif %}">
            <a href="{{ path('city_artist', { 'searchcity': app.session.get('city') }) }}">
                <i class="fa fa-group"></i> Artistes</a>
        </li> 
        <li class="list-group-item {% if active == 'teachers' %}active{% endif %}">
            <a href="{{ path('city_teacher', { 'searchcity': app.session.get('city') }) }}">
                <i class="fa fa-group"></i> Professeurs</a>
        </li> 
        <li class="list-group-item {% if active == 'bars' %}active{% endif %}">
            <a href="{{ path('city_bar', { 'searchcity': app.session.get('city') }) }}">
                <i class="fa fa-comments"></i> Bars</a>
        </li> 
        <li class="list-group-item {% if active == 'dancers' %}active{% endif %}">
            <a href="{{ path('city_dancer', { 'searchcity': app.session.get('city') }) }}">
                <i class="fa fa-group"></i> Danseurs</a>
        </li> 



        <li class="list-group-item {% if active == 'photos' %}active{% endif %}">
            <a href="{{ path('city_photo', { 'searchcity': app.session.get('city') }) }}">
                <i class="fa fa-group"></i> Photos</a>
        </li> 
        <li class="list-group-item {% if active == 'musics' %}active{% endif %}">
            <a href="{{ path('city_music', { 'searchcity': app.session.get('city') }) }}">
                <i class="fa fa-group"></i> Musiques</a>
        </li> 
        <li class="list-group-item {% if active == 'videos' %}active{% endif %}">
            <a href="{{ path('city_video', { 'searchcity': app.session.get('city') }) }}">
                <i class="fa fa-group"></i> Videos</a>
        </li>                         

    </ul>   

    {% render(path('city_number', { 'searchcity': app.session.get('city'), 'searcheventdate': app.session.get('startdate') } )) %}

    <div class="margin-bottom-50"></div>

</div>
<!--End Left Sidebar-->
