{% extends 'FrontFrontBundle:City:cityLayout.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/css/compiled/cubeportfolio.css') }}" />       
{% endblock %}


{% block content %}

    {% include 'FrontFrontBundle:City:cityBreadcrumb.html.twig' with { active : 'musics' } %}

    <div class="container content profile">
        <div class="row">
            <!--Left Sidebar-->
            {% include 'FrontFrontBundle:City:leftSidebar.html.twig' with { city : city, active : 'musics' } %}
            <!--End Left Sidebar-->

            <!-- Profile Content -->            
            <div class="col-md-9">

                {% set count_music = 0 %}
                {% for music in musics %}
                    {% set count_music = count_music + 1 %}
                {% endfor %}

                {% if 1 > count_music %}
                    <div class="alert alert-info fade in">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                        <strong>{% trans %}front.alert.info{% endtrans %}</strong>
                        {% trans with { '%CITY%' : app.session.get('city')|capitalize } %}city.no_musics{% endtrans %}
                    </div>
                    {% block toastr %}
                        {{ parent() }}
                        {% set message = 'toastr.load.city.no_musics'|trans({'%CITY%': app.session.get('city')|capitalize}) %}
                        {% include 'FrontFrontBundle:Toastr:info.html.twig' with { message : message } %}    
                    {% endblock %}
                {% endif %}

                <div class="blog_masonry_3col">
                    <div class="grid-boxes">

                        {% for music in musics %}
                            {% render(path('front_music_show', { id : music.id } )) %}
                        {% endfor %}

                        {% if 8 > musics|length %}
                            {% include 'FrontFrontBundle:Music:add.html.twig' %}
                        {% endif %}

                    </div>    
                </div>


            </div>
            <!-- End Profile Content -->            
        </div>
    </div><!--/container-->    
    <!--=== End Profile ===-->

{% endblock %}

{% block bottomJavascripts %}
    {{ parent() }}    
    <script type="text/javascript" src="{{ asset("front/js/plugins/cube-portfolio/cube-portfolio-4-fw.js") }}"></script>
{% endblock %}   
