<div class="panel-heading-v2 overflow-h">
    <h2 class="heading-xs pull-left"><i class="fa fa-bar-chart-o"></i>{% trans %}overviews.numbers{% endtrans %}</h2>
</div>
<h3 class="heading-xs">{% trans %}overviews.events{% endtrans %} <span class="pull-right">{{ count_events }}</span></h3>
    {% set max_events = 100 %}
    {% if count_events < max_events %}
        {% set ratio_events = (count_events/max_events*100) %}
    {% else %}
        {% set ratio_events = max_events %}
    {% endif %}
<div class="progress progress-u progress-xxs">
    <div style="width: {{ ratio_events }}%" aria-valuemax="{{ max_events }}" aria-valuemin="0" aria-valuenow="{{ ratio_events }}" role="progressbar" class="progress-bar progress-bar-u">
    </div>
</div>
{% set max_teachers = 30 %}
{% if count_teachers < max_teachers %}
    {% set ratio_teachers = (count_teachers/max_teachers*100) %}
{% else %}
    {% set ratio_teachers = max_teachers %}
{% endif %}
<h3 class="heading-xs">{% trans %}overviews.teachers{% endtrans %} <span class="pull-right">{{ count_teachers }}</span></h3>
<div class="progress progress-u progress-xxs">
    <div style="width: {{ ratio_teachers }}%" aria-valuemax="{{ max_teachers }}" aria-valuemin="0" aria-valuenow="{{ ratio_teachers }}" role="progressbar" class="progress-bar progress-bar-blue">
    </div>
</div>
{% set max_bars = 30 %}
{% if count_bars < max_bars %}
    {% set ratio_bars = (count_bars/max_bars*100) %}
{% else %}
    {% set ratio_bars = max_bars %}
{% endif %}
<h3 class="heading-xs">{% trans %}overviews.places{% endtrans %} <span class="pull-right">{{ count_bars }}</span></h3>
<div class="progress progress-u progress-xxs">
    <div style="width: {{ ratio_bars }}%" aria-valuemax="{{ max_bars }}" aria-valuemin="0" aria-valuenow="{{ ratio_bars }}" role="progressbar" class="progress-bar progress-bar-green">
    </div>
</div>
{% set max_dancers = 1000 %}
{% if count_dancers <  max_dancers %}
    {% set ratio_dancers = (count_dancers/max_dancers*100) %}
{% else %}
    {% set ratio_dancers = max_dancers %}
{% endif %}
<h3 class="heading-xs">{% trans %}overviews.dancers{% endtrans %} <span class="pull-right">{{ count_dancers }}</span></h3>
<div class="progress progress-u progress-xxs margin-bottom-40">
    <div style="width: {{ ratio_dancers }}%" aria-valuemax="{{ max_dancers }}" aria-valuemin="0" aria-valuenow="{{ ratio_dancers }}" role="progressbar" class="progress-bar progress-bar-dark">
    </div>
</div>
