{% extends 'FrontFrontBundle::layout.html.twig' %}

{% set city = app.session.get('city')|capitalize %}

{% block title %}
    {{ app.session.get('city')|capitalize}} - {{ page.getTitle }} {{ app.session.get('city')|capitalize}}
{% endblock %}
{% block head %}
    {{ parent() }}
    <meta name="description" content="{{ page.getDescription }} : {{ app.session.get('city')|capitalize}}" />
    <!-- partage facebook -->
    <meta property="og:title" content="{{ app.session.get('city')|capitalize}} - {{ page.getTitle }} : {{ app.session.get('city')|capitalize}}" />
    <meta property="og:description" content="{{ page.getDescription }} : {{ app.session.get('city')|capitalize}}" />
    <!--<meta property="og:image" content="URL_image" />-->
    <!-- partage facebook -->
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("front/css/pages/portfolio-v2.css") }}">
    <link rel="stylesheet" href="{{ asset("front/css/pages/profile.css") }}">

    <link rel="stylesheet" href="{{ asset("front/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css") }}">    
    <link rel="stylesheet" href="{{ asset("front/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css") }}">
{% endblock %}

{% block topJavascripts %}   
    {{ parent() }}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}">
    </script>
{% endblock %}    

{% block content %}


    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Salsa in {{ city }}, calendar ({{ app.session.get('startdate')|localizeddate('full', 'none', app.request.locale )|capitalize }})</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="">Page</a></li>
                <li class="active">salsa event</li>
            </ul>
        </div>
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Profile ===-->
    <div class="container content profile">
        <div class="row">
            <!--Left Sidebar-->
            {% include 'FrontFrontBundle:City:leftSidebar.html.twig' with { active : 'photos' } %}
            <!--End Left Sidebar-->

            <!-- Profile Content -->            
            <div class="col-md-9">

                <!--=== Cube-Portfdlio ===-->
                <div class="cube-portfolio margin-bottom-20">

                    <div id="grid-container" class="cbp-l-grid-fullWidth">

                        {% for photo in photos %}
                            {% if photo.isImage %}
                                <div class="cbp-item graphic">
                                    <div class="cbp-caption">
                                        <div class="cbp-caption-defaultWrap">
                                            <img src="{{ asset(photo.getLargePathUri()) }}" alt="">
                                        </div>
                                        <div class="cbp-caption-activeWrap">
                                            <div class="cbp-l-caption-alignCenter">
                                                <div class="cbp-l-caption-body">
                                                    <ul class="link-captions">
                                                        <li><a href="assets/img/main/img26.jpg" class="cbp-lightbox" data-title="{{ photo.getTitle|capitalize }}"><i class="rounded-x fa fa-search"></i></a></li>
                                                    </ul>
                                                    <div class="cbp-l-grid-agency-title">{{ photo.getTitle|capitalize }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
            <!-- End Profile Content -->            
        </div>
    </div><!--/container-->    
    <!--=== End Profile ===-->


    {#<div class="page-container">
        <div class="row">
    
            <div class="col-md-4 home-map">
                {% include 'FrontFrontBundle:Home:map.html.twig' %}
            </div>
    
    
            <div class="col-md-8 home-list">
    
                <div class="row row-table panel panel-default filter-section" id="search_form">
    
                    {% include 'FrontFrontBundle:Home:search.html.twig' %}   
    
                </div>
    
    
                {% include 'FrontFrontBundle:Home:filters.html.twig' with { 'musicTypeFrontFilterForm' : musicTypeFrontFilterForm } %}
    
    
                <div class="row row-table panel panel-default" id="event-list">
                    <div class="panel-body">
                        {% include 'FrontFrontBundle:Event:list.html.twig' %}
                    </div>        
                </div>   
    
                {% include 'FrontFrontBundle:Home:alerts.html.twig' %}
    
            </div>
    
        </div>
    
        {% include 'FrontFrontBundle:Home:more.html.twig' %}
    
    </div>#}



{% endblock %}

{% block bottomJavascripts %}
    {{ parent() }}    
    <script type="text/javascript" src="{{ asset("front/js/pages/page_contacts.js") }}"></script>
    <script type="text/javascript" src="{{ asset("front/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("front/js/plugins/cube-portfolio/cube-portfolio-4-fw.js") }}"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            App.initCounter();
            App.initScrollBar();
            Datepicker.initDatepicker();
            ContactPage.initMap();
        });
    </script>

{% endblock %}   
