{% extends 'FrontFrontBundle:City:cityLayout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/css/compiled/cubeportfolio.css') }}" />       
{% endblock %}


{% block content %}

    {% include 'FrontFrontBundle:City:cityBreadcrumb.html.twig' with { active : 'videos' } %}

    <div class="container content profile">
        <div class="row">
            <!--Left Sidebar-->
            {% include 'FrontFrontBundle:City:leftSidebar.html.twig' with { city : city, active : 'videos' } %}
            <!--End Left Sidebar-->

            <!-- Profile Content -->            
            <div class="col-md-9">

                {% set count_video = 0 %}
                {% for video in videos %}
                    {% set count_video = count_video + 1 %}
                {% endfor %}

                {% if 1 > count_video %}
                    <div class="alert alert-info fade in">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                        <strong>{% trans %}front.alert.info{% endtrans %}</strong>
                        {% trans with { '%CITY%' : app.session.get('city')|capitalize } %}city.no_videos{% endtrans %}
                    </div>
                    {% block toastr %}
                        {{ parent() }}
                        {% set toastr_message = 'toastr.load.city.no_videos'|trans ({'%CITY%': app.session.get('city')|capitalize}) %}
                        {% include 'FrontFrontBundle:Toastr:info.html.twig' with { toastr_message : toastr_message } %} 
                    {% endblock %}
                {% endif %}

                <div class="blog_masonry_3col">
                    <div class="grid-boxes">

                        {% for video in videos %}
                            {% render(path('front_video_show', { id : video.id } )) %}
                        {% endfor %}

                        {% if 8 > videos|length %}
                            {% include 'FrontFrontBundle:Video:add.html.twig' %}
                        {% endif %}

                    </div>    
                </div>

            </div>
            <!-- End Profile Content -->            
        </div>
    </div><!--/container-->    
    <!--=== End Profile ===-->

{% endblock %}

{% block bottomJavascripts %}
    {{ parent() }}    
    <script type="text/javascript" src="{{ asset("front/js/plugins/cube-portfolio/cube-portfolio-4-fw.js") }}"></script>
{% endblock %}   
