<!DOCTYPE html>
<!--[if IE 8]> <html lang="{{ app.request.locale }}" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="{{ app.request.locale }}" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="{{ app.request.locale }}"> <!--<![endif]-->  
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}

        <meta charset="utf-8">
        <meta name="robots" content="index">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">

    </head>

    <body>    

        <div class="wrapper">    


            {% block body %}
            {% endblock %}


        </div>

    </body>
</html>

{% block stylesheets %}


    {% stylesheets 
                "front/css/open-sans.css"
                "front/plugins/bootstrap/css/bootstrap.min.css"
                'front/plugins/bootstrap-validator/bootstrapValidator.css'
                "front/css/style.css"
                "front/css/ie8.css"
                "front/css/blocks.css"
                "front/css/plugins.css"
                "front/css/app.css"
                "front/css/headers/header-v3.css"
                "front/css/footers/footer-v3.css"
                "front/plugins/animate.css"
                "front/plugins/line-icons/line-icons.css"
                "front/plugins/font-awesome/css/font-awesome.min.css"
                "front/plugins/revolution-slider/rs-plugin/css/settings.css"
                "front/plugins/revolution-slider/rs-plugin/css/settings-ie8.css"
                "front/plugins/brand-buttons/brand-buttons.css"
                "front/plugins/brand-buttons/brand-buttons-inversed.css"
                "front/css/custom.css"
                "front/css/main.css"
                "front/css/bootstrap-social.css"
                "front/css/pages/blog_masonry_3col.css"
                "front/css/toastr.css"
            filter='cssrewrite' 
            output='front/css/compiled/main.css'  %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block bottomJavascripts %}

    {% javascripts 
            'front/plugins/jquery/jquery.min.js'           
            'front/js/jquery-ui-1.11.1/jquery-ui.min.js'
            "front/plugins/jquery/jquery-migrate.min.js"
            "front/plugins/bootstrap/js/bootstrap.min.js"
            'front/js/mainTop.js'
            'front/plugins/datepicker/js/bootstrap-datepicker.js'
            "front/js/plugins/toastr.js"
            "front/plugins/back-to-top.js"
            "front/plugins/smoothScroll.js"
            "front/plugins/jquery.parallax.js"
            "front/plugins/counter/waypoints.min.js"
            "front/plugins/counter/jquery.counterup.min.js"
            "front/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"
            "front/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"
            "front/js/custom.js"
            "front/js/app.js"
            "front/plugins/respond.js"
            "front/plugins/html5shiv.js"
            "front/plugins/placeholder-IE-fixes.js"
            'front/js/mainBottom.js'
            'front/plugins/bootstrap-validator/bootstrapValidator.min.js'
            'front/js/formValidation.js'
            "front/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"
            "front/js/cube-portfolio-lightbox-home-cities.js"
            "front/js/cube-portfolio-lightbox-home-festivals.js"
            "front/js/cube-portfolio-lightbox-home-users.js"
            "front/plugins/masonry/jquery.imagesLoaded.min.js"
            "front/plugins/masonry/jquery.masonry.min.js"
            "front/js/pages/blog-masonry.js"
            filter="?jsqueeze"
            output='front/js/compiled/bottom.js'  %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if app.request.locale != 'en' %}
        <script src="{{ asset('front/plugins/datepicker/js/locales/bootstrap-datepicker.' ~ app.request.locale ~ '.js') }}" type="text/javascript"></script> 
    {% endif  %}

    <script>
        toastr.options = {
            "positionClass": "toast-top-left",
            "closeButton": true,
            "timeOut": "15000",
            "newestOnTop": false
        }
    </script>

    <script  src="{{ asset('front/plugins/bootstrap-validator/language/'~ app.request.locale ~'.js') }}" type="text/javascript"></script>

    <script>
        $(document).on('click focus', 'form input.datepicker', function () {

            $("form input.datepicker").datepicker({
                format: "yyyy-mm-dd", // bug avec les heures
                autoclose: true,
                language: "{{ app.request.locale }}"
            });
        });

        $('.btn-facebook-import').on('click', function (e) {
            toastr.info("{% trans %}toastr.click.btn_facebook_import{% endtrans %}");
        });
        $('.btn-facebook-connect').on('click', function (e) {
            toastr.info("{% trans %}toastr.click.btn_facebook_connect{% endtrans %}");
        });
    </script>
    <script src="{{ asset('front/plugins/ckeditor/ckeditor.js') }}"></script>

{% endblock %}

{% block toastr %}
{% endblock %}
{% block alerts %}
{% endblock %}

<script>
        $(document).ready(function () {
            CKEDITOR.replace('.ckeditor');
        });
</script>


{% stylesheets 
    "front/css/pages/page_job.css"
    "front/css/home.css"
    "front/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css"
    "front/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css"
    filter='cssrewrite' 
    output='front/css/compiled/home.css'  %}
{% endstylesheets %}

{% stylesheets 
    "front/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css"
    "front/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css"
    filter='cssrewrite' 
    output='front/css/compiled/cubeportfolio.css'  %}
{% endstylesheets %}

{% stylesheets 
    "front/css/pages/portfolio-v2.css"
    "front/css/pages/profile.css"
    filter='cssrewrite' 
    output='front/css/compiled/profile-portfolio.css'  %}
{% endstylesheets %}

{% stylesheets 
    "front/css/pages/page_job_inner1.css"
    "front/css/pages/shortcode_timeline2.css"
    "front/plugins/owl-carousel/owl-carousel/owl.carousel.css"
    "front/css/pages/portfolio-v1.css"
    "front/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css"
    "front/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css"
    filter='cssrewrite' 
    output='front/css/compiled/event.css'  %}
{% endstylesheets %}

{% stylesheets 
    "front/css/pages/portfolio-v2.css"
    "front/css/pages/profile.css"
    "front/css/pages/page_search_inner.css"
    filter='cssrewrite' 
    output='front/css/compiled/search_layout.css'  %}
{% endstylesheets %}

{% stylesheets 
    "front/css/pages/portfolio-v2.css"
    "front/css/pages/profile.css"
    "front/css/pages/shortcode_timeline2.css"
    "front/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css"
    "front/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css"
    filter='cssrewrite' 
    output='front/css/compiled/profile.css'  %}
{% endstylesheets %}

{% javascripts 
    "front/plugins/jquery.mixitup.min.js"
    "front/js/pages/page_portfolio.js"
    "front/js/pages/page_contacts.js"
    filter="?jsqueeze"
    output='front/js/compiled/page-portfolio.js'  %}
{% endjavascripts %}

{% javascripts 
    "front/plugins/jquery.mixitup.min.js"
    "front/js/pages/page_portfolio.js"
    "front/js/plugins/revolution-slider.js"
    "front/plugins/gmap/gmap.js"
    "front/js/pages/page_contacts.js"
    "front/js/plugins/cube-portfolio/cube-portfolio-4-fw.js"
    filter="?jsqueeze"
    output='front/js/compiled/event.js'  %}
{% endjavascripts %}