<div class="margin-bottom-30">

    {{ form_start(form, { 'attr' : { 'class' : 'newMove' } } ) }}

    <div class="col-md-10">
        {{ form_row(form.translations) }}
    </div>

    <div class="col-md-10">
        {{ form_widget(form.video, { 'label' : false } ) }}
        {{ form_row(form.tags) }}
    </div>


    <div class="col-md-10">
        {{ form_widget(form.submit, { 'attr' : { 'class' : 'btn btn-success btn-md pull-right margin-bottom-10' } } ) }}
    </div>

    {{ form_end(form) }}

</div>
