{% set image_default_uri = 'images/wds_750x340_rose.png' %}

<div class="blog_masonry_3col">
    <div class="container content grid-boxes masonry">

        {% for event in events %}

            <div class="grid-boxes-in masonry-brick">

                <a href="{{ path('front_event_show', { 'id': event.id, 'uri' : event.getURI }) }}" title="{{ event.getTitle()|capitalize }}" target="_blank" >
                    {% set break = false %}
                    {% for eventFile in event.eventFiles  if not break %}
                        {% if eventFile.isValid %}
                            <img alt="{{ event.getTitle|capitalize }}" src="{{ asset(eventFile.getLargePathUri)|imagine_filter('facebook_imported_event') }}" class="img-responsive">
                            {% set break = true %}
                        {% endif %}
                    {% endfor %}
                    {% if event.eventFiles|length == 0 and event.getFacebookPictureUrl %}
                        <img alt="{{ event.getTitle|capitalize }}" src="{{ event.getFacebookPictureUrl }}" class="img-responsive">
                    {% elseif event.eventFiles|length == 0 %}
                        <img alt="{{ event.getTitle|capitalize }}" src="{{ asset(image_default_uri)|imagine_filter('facebook_imported_event') }}" class="img-responsive">
                    {% endif %}
                </a>

                <div class="grid-boxes-caption">
                    <h3>
                        <a href="{{ path('front_event_show', { 'id': event.id, 'uri' : event.getURI }) }}" title="{{ event.getTitle()|capitalize }}" target="_blank" >
                            {{ event.getTitle()|capitalize|truncate(60, true) }}
                        </a>
                    </h3>
                    <ul class="list-inline grid-boxes-news">

                        {% if event.getNextEventDate() %}
                            <li>
                                {{ event.getNextEventDate().startdate|localizeddate('full', 'none', app.request.locale )|capitalize }}
                            </li>
                        {% endif %}
                        {% if event.place or event.city or event.country %}
                            <li>|</li>
                            <li>
                                {{ event.getPlace()|capitalize }}
                                {{ event.getCity() ? ' / ' }}
                                {{ event.getCity() ? event.getCity()|capitalize }}
                                {{ event.getCountry() ? ' / ' }}
                                {{ event.getCountry() ? event.getCountry()|capitalize }}
                            </li>
                        {% endif %}

                    </ul>                    


                    <div class="row">

                        {% if not event.getAddress() %}
                            <div class="col-sm-12 m-t-10">
                                <a href="{{ path('front_event_edit', { 'id': event.id } ) }}" title="{{ event.getTitle()|capitalize }}" 
                                   class="btn btn-info full-width" target="_blank" alt="{% trans %}facebook.event_edit{% endtrans %}">
                                    <i class="fa fa-map-marker"></i> {% trans %}facebook.event_edit_address{% endtrans %}
                                </a>  
                            </div>
                        {% endif %}
                        {% if event.getAddress() and not event.hasOneValidAddress %}
                            <div class="col-sm-12 m-t-10">
                                <a href="{{ path('front_event_edit', { 'id': event.id } ) }}" title="{{ event.getTitle()|capitalize }}" 
                                   class="btn btn-warning full-width" target="_blank" alt="{% trans %}facebook.event_edit{% endtrans %}">
                                    <i class="fa fa-map-marker"></i> {% trans %}facebook.event_edit_address{% endtrans %}
                                </a>  
                            </div>
                        {% endif %}

                        {% if not event.getNextEventDate()  %}
                            <div class="col-sm-12 m-t-10">
                                <a href="{{ path('front_event_edit', { 'id': event.id } ) }}" title="{{ event.getTitle()|capitalize }}" 
                                   class="btn btn-warning full-width" target="_blank" alt="{% trans %}facebook.event_edit{% endtrans %}">
                                    <i class="fa fa-calendar"></i> {% trans %}facebook.event_edit_date{% endtrans %}
                                </a>  
                            </div>
                        {% endif %}

                        {% if not event.getProfilePicture() %}
                            <div class="col-sm-12 m-t-10">
                                <a href="{{ path('front_event_edit', { 'id': event.id } ) }}" title="{{ event.getTitle()|capitalize }}" 
                                   class="btn btn-info full-width" target="_blank" alt="{% trans %}facebook.event_edit{% endtrans %}">
                                    <i class="fa fa-picture-o"></i> {% trans %}facebook.event_edit_picture{% endtrans %}
                                </a>  
                            </div>
                        {% endif %}


                    </div>

                </div>

            </div>

        {% endfor %}   

    </div>
</div>

<script type="text/javascript">

    {% if not events|length %}
            toastr.warning("{% trans %}toastr.load.import_facebook.no_events{% endtrans %}");
    {% else %}
            toastr.success("{% trans with {'%COUNT%': events|length } %}toastr.load.import_facebook.success{% endtrans %}");
    {% endif %}

    {% for event in events %}
        {% if not event.getAddress() %}
                toastr.info("{% trans with {'%NAME%': event.getTitle()|truncate(20, true) } %}toastr.load.import_facebook.event.no_address{% endtrans %}");
        {% endif %}
        {% if event.getAddress() and not event.hasOneValidAddress %}
                toastr.info("{% trans with {'%NAME%': event.getTitle()|truncate(20, true) } %}toastr.load.import_facebook.event.no_valid_address{% endtrans %}");
        {% endif %}

        {% if not event.getNextEventDate()  %}
                toastr.info("{% trans with {'%NAME%': event.getTitle()|truncate(20, true) } %}toastr.load.import_facebook.event.no_next_date{% endtrans %}");
        {% endif %}

        {% if not event.getProfilePicture() %}
                toastr.info("{% trans with {'%NAME%': event.getTitle()|truncate(20, true) } %}toastr.load.import_facebook.event.no_picture{% endtrans %}");
        {% endif %}    
    {% endfor %}    

</script>