{% extends 'FrontFrontBundle::layout.html.twig' %}

{% block title %}
    {{ page.getTitle|capitalize }}
{% endblock %}
{% block head %}
    {{ parent() }}
    <meta name="description" content="{{ page.getDescription|capitalize }}" />
    <meta name="robots" content="noindex,nofollow">
{% endblock %}


{% block content %}

    {% for pageContent in page.getPageContents %}
        {{ pageContent.getContent|raw }}
    {% endfor %}

    {% if user and not user.isFacebookUser() %}
        {% trans %}facebook.not_facebook_user{% endtrans %}
    {% endif %}

    {% if not user %}
        {% trans %}facebook.not_logged{% endtrans %}
        <a class="btn btn-default" href="{{ path('fos_user_security_login') }}">
            {% trans %}navbar.login{% endtrans %}
        </a>
    {% endif %}

    {% if user and  user.isFacebookUser() %}

        <button id="previewImportEventsFacebook" class="btn btn-default" href="{{ path('facebook_preview_import_events') }}">
            {% trans %}facebook.event_preview{% endtrans %}
        </button>
        <button id="importEventsFacebook" class="btn btn-default" href="{{ path('facebook_import_events') }}">
            {% trans %}facebook.event_import{% endtrans %}
        </button>

    {% endif %}
    
    <div>
        {{ form(facebookEventImportForm) }}
    </div>

    <div class="container s-results margin-bottom-20">
        <div class="row">
            <div class="col-md-10" id="facebookResults"></div>
        </div>
    </div>

{% endblock %}
