
<div class="blog_masonry_3col">
    <div class="container content grid-boxes masonry">

        {% for facebook_event in facebook_events %}

            <div class="grid-boxes-in masonry-brick masonry-brick-facebook-event" data-id="{{ facebook_event.id }}">

                {% if facebook_event.img_url is not null %}
                    <img alt="{{ facebook_event.name|capitalize }}" src="{{ facebook_event.img_url }}" class="img-responsive">
                {% endif %}


                <div class="grid-boxes-caption">
                    <h3>
                        {{ facebook_event.name|capitalize }}
                    </h3>
                    <ul class="list-inline grid-boxes-news">

                        {% if facebook_event.start_time %}
                            <li>
                                {{ facebook_event.start_time|localizeddate('full', 'none', app.request.locale )|capitalize }}
                                {{ facebook_event.end_time ? ' / ' }}
                                {{ facebook_event.end_time ? facebook_event.end_time|localizeddate('full', 'none', app.request.locale )|capitalize : '' }}
                            </li>
                        {% endif %}
                        {% if facebook_event.place or facebook_event.city or facebook_event.country %}
                            <li>|</li>
                            <li>
                                {{ facebook_event.place|capitalize }}
                                {{ facebook_event.city ? ' / ' }}
                                {{ facebook_event.city ? facebook_event.city|capitalize }}
                                {{ facebook_event.country ? ' / ' }}
                                {{ facebook_event.country ? facebook_event.country|capitalize }}
                            </li>
                        {% endif %}

                    </ul>                    


                    <div class="row">

                        <div class="col-sm-12">
                            <button class="supprFacebookEventBrick btn btn-warning full-width" title="{% trans %}facebook.facebook_event_do_not_import{% endtrans %}" >
                                <i class="fa fa-times"></i> {% trans %}facebook.event_do_not_import{% endtrans %}
                            </button>       
                        </div>

                    </div>

                </div>

            </div>

        {% endfor %}   

    </div>
</div>

{% if not facebook_events or facebook_events|length < 1 %}  
    <div class="alert alert-warning fade in">
        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
        <strong>{% trans %}front.alert.warning{% endtrans %}</strong>
        {% trans %}facebook.event_import_fail{% endtrans %}
    </div>  
{% endif %}

<script type="text/javascript">
    {% if not facebook_events or facebook_events|length < 1 %}
        toastr.warning("{% trans %}toastr.load.import_facebook.no_events{% endtrans %}");
    {% else %}
        toastr.success("{% trans %}toastr.load.preview_import_facebook.success{% endtrans %}");
        toastr.success("{% trans with {'%COUNT%': facebook_events|length } %}toastr.load.preview_import_facebook.success_count{% endtrans %}");
    {% endif %}

</script>