<li>
    <time class="cbp_tmtime" datetime=""><span>{{ entity.startdate|date('Y') }}</span> <span>{{ entity.startdate|localizeddate('medium', 'none', app.request.locale, null, 'LLL')|capitalize }}</span></time>
    <i class="cbp_tmicon rounded-x hidden-xs"></i>
    <div class="cbp_tmlabel">
        <h2>{{ entity.startdate|localizeddate('medium', 'none', app.request.locale, null, 'cccc dd')|capitalize }}</h2>    
        <p> 
            <b>{% trans %}event.hours{% endtrans %} :</b> {{ entity.starttime|date('H:i') }}
            {% if entity.stopdate and entity.stoptime %}
                {% trans %}event.to{% endtrans %} {{ entity.stoptime|date('H:i') }}
            {% endif %}
        </p>
        {% if entity.getAddress and entity.getAddress().isValid() %}  
            <p>
                <b>{% trans %}event.address{% endtrans %} :</b> {{ entity.getAddress().getFullAddress() }}
            </p>
        {% endif %}
    </div>
</li>