{% extends 'FrontFrontBundle::layout.html.twig' %}

{% set city = app.session.get('city')|capitalize %}

{% block title %}
    {{ app.session.get('city')|capitalize}} - {{ page.getTitle }} {{ app.session.get('city')|capitalize}}
{% endblock %}
{% block head %}
    {{ parent() }}
    <meta name="description" content="{{ page.getDescription }} : {{ app.session.get('city')|capitalize}}" />
    <!-- partage facebook -->
    <meta property="og:title" content="{{ app.session.get('city')|capitalize}} - {{ page.getTitle }} : {{ app.session.get('city')|capitalize}}" />
    <meta property="og:description" content="{{ page.getDescription }} : {{ app.session.get('city')|capitalize}}" />
    <!--<meta property="og:image" content="URL_image" />-->
    <!-- partage facebook -->
{% endblock %}

{% block topJavascripts %}   
    {{ parent() }}
{% endblock %}    

{% block content %}

    <div class="page-container">
        <div class="row">

            <h1>Danser la salsa à {{ city }}</h1>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">Calendrier et carte</div>
                    <div class="panel-body">
                        <a href="{{ path('calendarpage', {'searchcity' : app.session.get('city') } ) }}">Calendrier</a>
                    </div>
                </div>    
            </div>

            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">Les associations de salsa à {{ city }}</div>
                    <div class="panel-body">
                        {% for person in people %}
                            {% if person.isTeacher %}
                                <a href="">
                                    {% if person.isFacebookUser %}
                                        <img src='{{ person.profilePictureUrl }}' class=" nav-image danser-image"/> 
                                    {% elseif person.profilePictureUrl %}
                                        <img src='{{ asset(person.profilePictureUrl)| imagine_filter('city_thumb') }}' class=" nav-image danser-image" /> 
                                    {% endif %}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">Les danseurs de salsa à {{ city }}</div>
                    <div class="panel-body">
                        {% for person in people %}
                            {% if person.isDancer %}
                                <a href="">
                                    {% if person.isFacebookUser %}
                                        <img src='{{ person.profilePictureUrl }}' class=" nav-image danser-image"/> 
                                    {% elseif person.profilePictureUrl %}
                                        <img src='{{ asset(person.profilePictureUrl)| imagine_filter('city_thumb') }}' class=" nav-image danser-image" /> 
                                    {% endif %}
                                </a>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">Les artistes de salsa à {{ city }}</div>
                    <div class="panel-body">
                        {% for person in people %}
                            {% if person.isArtist %}
                                <a href="">
                                    {% if person.isFacebookUser %}
                                        <img src='{{ person.profilePictureUrl }}' class=" nav-image danser-image"/> 
                                    {% elseif person.profilePictureUrl %}
                                        <img src='{{ asset(person.profilePictureUrl)| imagine_filter('city_thumb') }}' class=" nav-image danser-image" /> 
                                    {% endif %}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">Les lieux où danser la salsa à {{ city }}</div>
                    <div class="panel-body">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">S'initier à salsa à {{ city }}</div>
                    <div class="panel-body">
                        {% for event in introductions %}
                            <a class="" href="{{ path('front_event_show', { 'id': event.id, 'uri' : event.getURI }) }}">
                                <img src="{{ asset(event.getDefaultImageUrl)| imagine_filter('city_thumb') }}" class="img-responsive" alt="{{ event.getTitle()|capitalize }}">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">Prendre des cours de salsa à {{ city }}</div>
                    <div class="panel-body">
                        {% for event in workshops %}
                            <a class="" href="{{ path('front_event_show', { 'id': event.id, 'uri' : event.getURI }) }}">
                                <img src="{{ asset(event.getDefaultImageUrl)| imagine_filter('city_thumb') }}" class="img-responsive" alt="{{ event.getTitle()|capitalize }}">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">Les prochains concerts salsa à {{ city }}</div>
                    <div class="panel-body">
                        {% for event in concerts %}
                            <a class="" href="{{ path('front_event_show', { 'id': event.id, 'uri' : event.getURI }) }}">
                                <img src="{{ asset(event.getDefaultImageUrl)| imagine_filter('city_thumb') }}" class="img-responsive" alt="{{ event.getTitle()|capitalize }}">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">Les festivals salsa à {{ city }}</div>
                    <div class="panel-body">
                        {% for event in festivals %}
                            <a class="" href="{{ path('front_event_show', { 'id': event.id, 'uri' : event.getURI }) }}">
                                <img src="{{ asset(event.getDefaultImageUrl)| imagine_filter('city_thumb') }}" class="img-responsive" alt="{{ event.getTitle()|capitalize }}">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">Quelques photos</div>
                    <div class="panel-body">
                        {% for userFile in photos %}
                            {% if userFile.isImage %}

                                <a class="lightbox" href="{{ asset(userFile.getMediumPathUri) }}" title="{{ user.username|capitalize }}">
                                    <img alt="{{ user.username|capitalize }}" src="{{ asset(userFile.getMediumPathUri)| imagine_filter('city_thumb') }}" />
                                </a>


                            {% endif%}
                        {% endfor%}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">Les musiques salsa préférées</div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">Les vidéos de salsa préférées</div>
                    <div class="panel-body">
                    </div>
                </div>
            </div>

        </div>


    </div>



{% endblock %}
