<div class="row row-table panel panel-default filter-section filter-section-sm-hide">

    {% form_theme eventTypeFrontFilterForm 'FrontFrontBundle:Form:bootstrap_form_override_checkboxes_list.html.twig' %}
    {{ form_start(eventTypeFrontFilterForm, {'attr': {'id': 'eventTypeFrontFilterForm'}}) }}
    {{ form(eventTypeFrontFilterForm)}}
    {{ form_end(eventTypeFrontFilterForm)}}

    <script>
        $(document).on('change', '#front_front_bundle_eventtypefrontfilter_name input', function () {
            eventTypeFilterList($('#eventTypeFrontFilterForm'), '{{ path('front_eventtype_filter_list')}}');
            eventTypeFilterMap($('#eventTypeFrontFilterForm'), '{{ path('front_eventtype_filter_map')}}');
        });
        $(document).ready(function () {
        {% if app.session.get('eventTypes') %}
            {% for id in app.session.get('eventTypes') %}
                    $("#front_front_bundle_eventtypefrontfilter_name_{{ id }}").prop("checked", true);
            {% endfor %}
        {% endif %}
            });
    </script>
</div>

<div class="row row-table panel panel-default filter-section filter-section-sm-hide">

    {% form_theme musicTypeFrontFilterForm 'FrontFrontBundle:Form:bootstrap_form_override_checkboxes_list.html.twig' %}
    {{ form_start(musicTypeFrontFilterForm, {'attr': {'id': 'musicTypeFrontFilterForm'}}) }}
    {{ form(musicTypeFrontFilterForm)}}
    {{ form_end(musicTypeFrontFilterForm)}}

    <script>
        $(document).on('change', '#front_front_bundle_musictypefrontfilter_name input', function () {
            musicTypeFilterList($('#musicTypeFrontFilterForm'), '{{ path('front_musictype_filter_list')}}');
            musicTypeFilterMap($('#musicTypeFrontFilterForm'), '{{ path('front_musictype_filter_map')}}');
        });

        $(document).ready(function () {
        {% if app.session.get('musicTypes') %}
            {% for id in app.session.get('musicTypes') %}
                    $("#front_front_bundle_musictypefrontfilter_name_{{ id }}").prop("checked", true);
            {% endfor %}
        {% endif %}
            });
    </script>
</div>
