{% extends 'FrontFrontBundle::layout.html.twig' %}

{% block title %}
    {{ page.getTitle }}
{% endblock %}
{% block head %}
    {{ parent() }}
    <meta name="description" content="{{ page.getDescription }}" />
    <!-- partage facebook -->
    <meta property="og:title" content="{{ page.getTitle }}" />
    <meta property="og:description" content="{{ page.getDescription }}" />
    <!--<meta property="og:image" content="URL_image" />-->
    <!-- partage facebook -->
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/css/compiled/home.css') }}" />       
{% endblock %}

{% block topJavascripts %}   
    {{ parent() }}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}">
    </script>
{% endblock %}    

{% block content %}

    <div class="job-img margin-bottom-30">
        <div class="job-banner">
            <h2>{% trans %}home.banner{% endtrans %}</h2>
        </div>   
        {% include 'FrontFrontBundle:Home:search.html.twig' %}    
    </div>    


    <!-- Portfolio Section -->
    <section id="portfolio-cities" class="about-section">
        <div class="container content-md">
            <div class="text-center margin-bottom-30">
                <h2 class="title-v2 title-center">{% trans %}home.cities.h2{% endtrans %}</h2>
                <p class="space-lg-hor">{% trans %}home.cities.p{% endtrans %}</p>
            </div>


            <div class="cube-portfolio">
                <div id="grid-container-cities" class="cbp-l-grid-gallery">
                    {% include 'FrontFrontBundle:Home:meaCities.html.twig' %}
                </div>
            </div>
        </div>
    </section>


    <!-- Portfolio Section -->
    <section id="portfolio-festivals" class="about-section">
        <div class="container  content-md">
            <div class="text-center margin-bottom-30">
                <h2 class="title-v2 title-center">{% trans %}home.festivals.h2{% endtrans %}</h2>
                <p class="space-lg-hor">{% trans %}home.festivals.p{% endtrans %}</p></p>
            </div>


            <div class="cube-portfolio">
                <div id="grid-container-festivals" class="cbp-l-grid-gallery">
                    {% include 'FrontFrontBundle:Home:meaFestivals.html.twig' %}
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Section -->
    <section id="portfolio-users" class="about-section">
        <div class="container  content-md">
            <div class="text-center margin-bottom-30">
                <h2 class="title-v2 title-center">{% trans %}home.users.h2{% endtrans %}</h2>
                <p class="space-lg-hor">{% trans %}home.users.p{% endtrans %}</p></p>
            </div>


            <div class="cube-portfolio">
                <div id="grid-container-users" class="cbp-l-grid-gallery">
                    {% include 'FrontFrontBundle:Home:meaUsers.html.twig' %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
