{% for meaCity in MeaCities %}

    <div class="cbp-item print motion">
        <a href="{{ path('city_calendar', { 'searchcity':  meaCity.getName }) }}" class="cbp-caption "
           data-title="{{ meaCity.getName|capitalize }}">
            <div class="cbp-caption-defaultWrap">
                <img src="{{ asset('uploadedFiles/Cities/'~meaCity.image|lower~'.jpg')|imagine_filter('home_city') }}" alt="{{ meaCity.getName|capitalize }}">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">{{ meaCity.getName|capitalize }}</div>
                        <div class="cbp-l-caption-desc">{{ meaCity.getDescription| truncate(200, true) }}</div>
                    </div>
                </div>
            </div>
        </a>
    </div>

{% endfor %}