{% for meaFestival in MeaFestivals %}

    <div class="cbp-item print motion">
        <a href="{{ path('front_event_show', { 'id': meaFestival.getEvent.id, 'uri' : meaFestival.getEvent.getURI }) }}" class="cbp-caption"
           data-title="{{ meaFestival.getEvent.getTitle()|capitalize }}">
            <div class="cbp-caption-defaultWrap">
                <img src="{{ asset(meaFestival.getDefaultImageUrl())|imagine_filter('home_festival') }}" alt="{{ meaFestival.getEvent.getTitle()|capitalize }}">
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">{{ meaFestival.getEvent.getTitle()|capitalize }}</div>
                        <div class="cbp-l-caption-desc"></div>
                    </div>
                </div>
            </div>
        </a>
    </div>
                        
{% endfor %}