{% for MeaUser in MeaUsers %}

    {% set user = MeaUser.user %}

    <div class="cbp-item print motion">
        <a href="{{ path('front_user_show_public', { username : user.getUsername(), id : user.id } ) }}" class="cbp-caption"
           data-title="{{ user.getUsername|capitalize }}">
            <div class="cbp-caption-defaultWrap">
                {% if user.getProfilePictureUrl() %}
                    <img alt="{{ user.getUsername|capitalize }}" src="{{ asset(user.getProfilePictureUrl())|imagine_filter('home_user') }}">
                {% else %}
                    <img alt="{{ user.getUsername|capitalize }}" src="{{ asset('images/wds_750x340_rose.png')|imagine_filter('home_user') }}">
                {% endif %} 
            </div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignLeft">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">{{ user.getUsername|capitalize }}</div>
                        <div class="cbp-l-caption-desc">
                            {% if user.getUserType %}
                                {{ user.getUserTypesText }}
                            {% endif %}
                            {% if user.getMusicType %}
                                / {{ user.getMusicTypesText }}
                            {% endif %}
                            <br>
                            {% if user.getCity %}
                                {{ user.getCity|capitalize }}
                            {% endif %}
                            {% if user.getCountry %}
                                / {{ user.getCountry|capitalize }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>

{% endfor %}
{#{% for MeaUser in MeaUsers %}
    {% set user = MeaUser.user %}
    <!-- Easy Block -->                
    <div class="col-md-3 col-sm-6 md-margin-bottom-40">
        <div class="easy-block-v1">             
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for userFile in user.userFiles %}
                        {% if userFile.isValid %}
                            <div class="item {% if loop.index == 1 %}active{% endif %}">
                                <img alt="{{ user.getUsername|capitalize }}" src="{{ asset(userFile.getLargePathUri())|imagine_filter('home_user') }}">
                            </div>
                        {% else %}
                            <div class="item">
                                <img alt="{{ user.getUsername|capitalize }}" src="{{ asset('images/wds_750x340_rose.png')|imagine_filter('home_user') }}">
                            </div>
                        {% endif %} 
                    {% endfor %}
                    {% if user.userFiles|length == 0 %}
                        <div class="item active">
                            <img alt="{{ user.getUsername|capitalize }}" src="{{ asset('images/wds_750x340_rose.png')|imagine_filter('home_user') }}">
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="overflow-h">
                <h3>{{ user.getUsername|capitalize }}</h3>
            </div>     
            <ul class="list-unstyled">
                <li>
                    <span class="color-green">
                        {% if user.getUserType %}
                            {{ user.getUserTypesText }}
                        {% endif %}
                        {% if user.getMusicType %}
                            / {{ user.getMusicTypesText }}
                        {% endif %}
                    </span>
                </li>
                <li>
                    {% if user.getCity %}
                        {{ user.getCity|capitalize }}
                    {% endif %}
                    {% if user.getCountry %}
                        / {{ user.getCountry|capitalize }}
                    {% endif %}
                </li>
            </ul>    
        </div>  
    </div>
    <!-- End Easy Block -->
{% endfor %}
#}