<div class='col-sm-12 margin-bottom-30 p-t-20 masonry-border' >

    <h2 class="heading-md">{{ "video.edit.title"|trans }}</h2>

    {{ form_start(edit_form, { 'attr' : { 'class' : 'editVideo', 'data-video-id' : video.id } } ) }}

    <div class="col-md-10 col-sm-12">
        {{ form_row(edit_form.translations) }}
    </div>


    <div class="col-md-10 col-sm-12">
        {% set placeholder %}
            {% trans %}form.ffv.children.url.placeholder{% endtrans %}  
        {% endset %}                            
        {{ form_row(edit_form.url, { 'attr' : { 'placeholder' : placeholder|trim } } ) }}
        {{ form_row(edit_form.move) }}
        {{ form_row(edit_form.tags) }}
    </div>

    <div class="col-md-2 col-sm-12">
        {{ form_widget(edit_form.submit, { 'attr' : { 'class' : 'btn btn-success btn-md margin-bottom-10 full-width' } } ) }}

        <button class="cancelVideo btn btn-warning btn-sm margin-bottom-10 full-width"  data-video-id="{{ video.id }}"  href="{{ path('front_video_show_with_buttons', { 'id': video.id }) }}">
            {% trans %}front.cancel{% endtrans %}
        </button>
    </div>

    {{ form_end(edit_form) }}
</div>

<div class="clear-both"></div>