{% extends 'FrontFrontBundle:Video:videoLayout.html.twig' %}


{% set count_video = 0 %}
{% for video in pagination %}
    {% set count_video = count_video + 1 %}
{% endfor %}


{% block content %}

    {% include 'FrontFrontBundle:Video:videoBreadcrumb.html.twig' with { active : 'videos' } %}

    <!--=== Search Block Version 2 ===-->
    <div class="search-block-v2">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">

                <h2>{% trans %}video.search_title{% endtrans %}</h2>

                {{ form_start(filterForm, { 'attr' : { 'class' : 'no_validation', 'id' : 'video_filter_form' } } ) }}
                <div class="input-group">
                    {% set placeholder %}
                        {% trans %}video.search_input_placeholder{% endtrans %}
                    {% endset %}
                    {{ form_widget(filterForm.search,{ 'attr' : { 'class' : 'form-control', 'placeholder' : placeholder|trim } } ) }}
                    <span class="input-group-btn">
                        <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                    {{ form_row(filterForm.tag) }}
                    {{ form_row(filterForm.user) }}
                </div>

                {% set criterias = null %}
                {% if userInFilter is defined and userInFilter %}
                    {% set criterias = userInFilter.getName()|capitalize %}
                {% endif %}
                {% set criterias = criterias~(' '~filterForm.search.vars.value~' '~filterForm.tag.vars.value)|trim %}

                {{ form_end(filterForm) }}

            </div>
        </div>    
    </div><!--/container-->     
    <!--=== End Search Block Version 2 ===-->

    <!--=== Search Results ===-->
    <div class="container s-results margin-bottom-50">
        <div class="row">
            <div class="col-md-2 hidden-xs related-search">
                <div class="row">

                    <div class="col-md-12 col-sm-4">
                        {% render(path('front_tag_list_for_video_search')) %}
                    </div> 

                    <div class="col-md-12 col-sm-4">
                        {% render(path('front_user_list_for_video_search')) %}
                    </div>    

                </div>        
            </div><!--/col-md-2-->

            <div class="col-md-10" id="video_list">

                {% if 1 > count_video %}
                    <div class="alert alert-info fade in">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                        <strong>{% trans %}front.alert.info{% endtrans %}</strong>
                        {% trans %}video.list.no_videos{% endtrans %}
                    </div>
                {% endif %}

                <div class="blog_masonry_3col">
                    <div class="grid-boxes">

                        {% for video in pagination %}
                            {% render(path('front_video_show', { id : video.id } )) %}
                        {% endfor %}

                        {% if 5 > count_video %}
                            {% include 'FrontFrontBundle:Video:add.html.twig' %}
                        {% endif %}

                    </div>    
                </div>


                <div class="margin-bottom-10"></div>

                {{ knp_pagination_render(pagination) }}

            </div><!--/col-md-10-->
        </div>        
    </div><!--/container-->     
    <!--=== End Search Results ===-->

{% endblock %}

{% block toastr %}
    {{ parent() }}

    {% if 1 > count_video %}

        {% set toastr_message = 'toastr.load.video.no_videos'|trans %}
        {% include 'FrontFrontBundle:Toastr:info.html.twig' with { toastr_message : toastr_message } %} 
    {% endif %}

    {% if count_video %}
        {% if 5 > count_video %}
            {% set toastr_message = 'toastr.load.video.less_5'|trans  %}
            {% include 'FrontFrontBundle:Toastr:success.html.twig' with { toastr_message : toastr_message } %} 
        {% else %}
            {% set toastr_message = 'toastr.load.video.more_5'|trans %}
            {% include 'FrontFrontBundle:Toastr:success.html.twig' with { toastr_message : toastr_message } %} 
        {% endif %}
    {% endif %}

    {% set toastr_message = 'toastr.filter.criterias'|trans ({'%CRITERIAS%': criterias}) %}
    {% include 'FrontFrontBundle:Toastr:info.html.twig' with { toastr_message : toastr_message } %} 
{% endblock %}