<div class='col-sm-12 margin-bottom-30 p-t-20 masonry-border' >

    <h2 class="heading-md">{{ "video.new.title"|trans }}</h2>

    {{ form_start(form, { 'attr' : { 'class' : 'newVideo' } } ) }}

    <div class="col-md-10 col-sm-12">
        {{ form_row(form.translations) }}
    </div>

    <div class="col-md-10 col-sm-12">
        {% set placeholder %}
            {% trans %}form.ffv.children.url.placeholder{% endtrans %}
        {% endset %}                            
        {{ form_row(form.url, { 'attr' : { 'placeholder' : placeholder|trim } } ) }}
        {{ form_row(form.move) }}
        {{ form_row(form.tags) }}
    </div>

    <div class="col-md-2 col-sm-12">
        {{ form_widget(form.submit, { 'attr' : { 'class' : 'btn btn-success btn-md margin-bottom-10 full-width' } } ) }}
    </div>

    {{ form_end(form) }}

</div>

<script type="text/javascript">
    toastr.info("{% trans %}toastr.load.video.new.title{% endtrans %}");
    toastr.info("{% trans %}toastr.load.video.new.url{% endtrans %}");
    toastr.info("{% trans %}toastr.load.video.new.tags{% endtrans %}");
</script>

<div class="clear-both"></div>
