<div class="margin-bottom-30">

    {{ form_start(form, { 'attr' : { 'class' : 'newVideo' } } ) }}

    <div class="col-md-10">
        {{ form_row(form.translations) }}
    </div>

    <div class="col-md-10">
        {{ form_row(form.url) }}
        {{ form_row(form.move) }}
        {{ form_row(form.shine) }}
        {{ form_row(form.tags) }}
    </div>

    <div class="col-md-2">
        {{ form_widget(form.submit, { 'attr' : { 'class' : 'btn btn-success btn-md pull-left margin-bottom-10' } } ) }}
    </div>

    {{ form_end(form) }}

</div>
