<div class="margin-bottom-30">

    {{ form_start(form, { 'attr' : { 'class' : 'newMusic' } } ) }}

    <div class="col-md-10">
        {{ form_row(form.translations) }}
    </div>

    <div class="col-md-10">
        {% set placeholder %}
            {% trans %}form.ffm.children.url.placeholder{% endtrans %}
        {% endset %}                            
        {{ form_row(form.url, { 'attr' : { 'placeholder' : placeholder|trim } } ) }}
        {{ form_row(form.tags) }}
    </div>

    <div class="col-md-2">
        {{ form_widget(form.submit, { 'attr' : { 'class' : 'btn btn-success btn-md pull-left margin-bottom-10' } } ) }}
    </div>

    {{ form_end(form) }}

</div>

<div class="clear-both"></div>
