<!--=== Footer Version 3 ===-->
<div class="footer-v3">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- About -->
                <div class="col-md-3 md-margin-bottom-40">
                    <a href="index.html">
                        <img id="logo-footer" class="footer-logo" src="{{ asset('images/wedancesalsa_footer.png')}}" alt="WeDanceSalsa">
                    </a>
                    <p>Find Salsa, Bachata, Kizomba and Tango, anywhere on the Globe.</p>
                </div><!--/col-md-3-->
                <!-- End About -->                    

                <div class="col-md-3 md-margin-bottom-40">
                    <div class="thumb-headline"><h2>Cities</h2></div>
                    <ul class="list-unstyled simple-list margin-bottom-20">
                        {% for city in cities %}
                            <li>
                                <a href="{{ path('city_calendar', { 'searchcity':  city.getName }) }}">
                                    {{ city.getName|capitalize }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-md-3">
                    <div class="thumb-headline"><h2>Festivals</h2></div>
                    <ul class="list-unstyled simple-list margin-bottom-20">
                        {% for event in festivals %}
                            <li>
                                <a href="{{ path('front_event_show', { 'id': event.id, 'uri' : event.getURI }) }}" title="{{ event.getTitle()|capitalize }}">
                                    {{ event.getTitle|capitalize }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-md-3">
                    <div class="thumb-headline"><h2>Artits</h2></div>
                    <ul class="list-unstyled simple-list margin-bottom-20">
                        {% for user in artists %}
                            <li>
                                <a href="{{ path('front_user_show_public', { username : user.username, id : user.id } ) }}">
                                    {{ user.username|capitalize }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div> 
    </div><!--/footer-->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">                     
                    <p>
                        2015 &copy; All Rights Reserved.  
                        <a target="_blank" href="#">DirectDev</a> | <a href="#">Contact Us</a> | <a href="#">Privacy Policy</a> | <a href="#">1ZERO</a> | <a href="#">Sitemap</a>
                    </p>
                </div>
                <!-- Social Links -->
                <div class="col-md-6">  
                    <ul class="social-icons pull-right">
                        <li><a href="#" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
                        <li><a href="#" data-original-title="Twitter" class="rounded-x social_twitter"></a></li>
                        <li><a href="#" data-original-title="Goole Plus" class="rounded-x social_googleplus"></a></li>
                        <li><a href="#" data-original-title="Linkedin" class="rounded-x social_linkedin"></a></li>
                        <li><a href="#" data-original-title="Pinterest" class="rounded-x social_pintrest"></a></li>
                    </ul>
                </div>
                <!-- End Social Links -->
            </div>
        </div> 
    </div><!--/copyright--> 
</div>
<!--=== End Footer Version 3 ===-->