<footer>
    <div class="container-fluid">
        <div class="row footer-widgets">

            <div class="col-md-2">
                <div class="footer-widget contact-widget">
                    <img src="{{ asset('images/wedancesalsa_footer.png')}}" title="WeDanceSalsa" />
                </div>
            </div>


            <div class="col-md-3 footer-social-links">
                <div class="footer-widget social-widget">
                    <ul class="social-icons">
                        <li>
                            <a class="facebook" href="#"><i class="icon-facebook-2"></i></a>
                        </li>
                        <li>
                            <a class="twitter" href="#"><i class="icon-twitter-2"></i></a>
                        </li>
                        <li>
                            <a class="google" href="#"><i class="icon-gplus-1"></i></a>
                        </li>
                        {#<li>
                            <a class="dribbble" href="#"><i class="icon-dribbble-2"></i></a>
                        </li>
                        <li>
                            <a class="linkdin" href="#"><i class="icon-linkedin-1"></i></a>
                        </li>
                        <li>
                            <a class="flickr" href="#"><i class="icon-flickr-1"></i></a>
                        </li>
                        <li>
                            <a class="tumblr" href="#"><i class="icon-tumblr-1"></i></a>
                        </li>
                        <li>
                            <a class="instgram" href="#"><i class="icon-instagramm"></i></a>
                        </li>
                        <li>
                            <a class="vimeo" href="#"><i class="icon-vimeo"></i></a>
                        </li>
                        <li>
                            <a class="skype" href="#"><i class="icon-skype-2"></i></a>
                        </li>#}
                    </ul>
                </div>
            </div>

            <div class="col-md-7 footer-links">
                <ul class="footer-nav">
                    <li><a href="{{ path('contact_contact_contact')}}">{{ 'footer.contact'|trans() }}</a></li>
                    <li><a href="{{ path('policy')}}">{{ 'footer.policy'|trans() }}</a></li>
                    <li><a href="http://directdev.fr" target='_blank'>DirectDev</a></li>
                    <li><a href="http://www.1zero.fr"  target='_blank'>1Zéro</a></li>
                    <li><a href="#">Sitemap</a></li>

                </ul>
            </div>	

        </div>



    </div>
</footer>