<div class="header">
    <div class="container">
        <!-- Logo -->
        <a class="logo"  href="{{ path('home')}}">
        </a>
        <!-- End Logo -->

        <!-- Topbar -->
        <div class="topbar">
            <ul class="loginbar pull-right">

                {% include 'FrontFrontBundle::languageSwitcher.html.twig' %}  
                <li class="topbar-devider">
                </li>   
                {% if is_granted("ROLE_USER") %}
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">
                            {% trans %}navbar.logout{% endtrans %}
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_registration_register') }}">
                            {% trans %}navbar.register{% endtrans %}
                        </a>
                    </li>
                    <li class="topbar-devider">                        
                    </li>   
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">
                            {% trans %}navbar.login{% endtrans %}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- End Topbar -->

        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">{% trans %}navbar.toogle_navigation{% endtrans %}</span>
            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    </div><!--/end container-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
            <ul class="nav navbar-nav">
                <!-- Home -->
                <li class="active">
                    <a href="{{ path('home')}}" >
                        {% trans %}navbar.home{% endtrans %}
                    </a>
                </li>
                <!-- End Home -->

                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        {% trans %}navbar.festivals{% endtrans %}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="">{% trans %}navbar.festivals.calendar{% endtrans %}</a></li>
                        <li><a href="">{% trans %}navbar.festivals.europe{% endtrans %}</a></li>
                        <li><a href="">{% trans %}navbar.festivals.north_america{% endtrans %}</a></li>
                        <li><a href="">{% trans %}navbar.festivals.south_america{% endtrans %}</a></li>
                        <li><a href="">{% trans %}navbar.festivals.africa{% endtrans %}</a></li>
                        <li><a href="">{% trans %}navbar.festivals.asia{% endtrans %}</a></li>
                        <li><a href="">{% trans %}navbar.festivals.australia{% endtrans %}</a></li>
                    </ul>
                </li>                    

                <li>
                    <a href="{{ path('home')}}" >
                        {% trans %}navbar.artits{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="{{ path('home')}}" >
                        {% trans %}navbar.bands{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="{{ path('home')}}" >
                        {% trans %}navbar.learn{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="{{ path('home')}}" >
                        {% trans %}navbar.videos{% endtrans %}
                    </a>
                </li>
                <li>
                    <a href="{{ path('home')}}" >
                        {% trans %}navbar.musics{% endtrans %}
                    </a>
                </li>

                {% if is_granted("ROLE_USER") %}
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            <strong>{{ app.user.username|capitalize }}</strong>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('front_user_show_public', { id : app.user.id, username : app.user.username } ) }}">
                                    {% trans %}navbar.user.my_page{% endtrans %}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('front_user_edit', { id : app.user.id } ) }}">
                                    {% trans %}navbar.user.my_profile{% endtrans %}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('front_user_next_events') }}">
                                    {% trans %}navbar.user.next_events{% endtrans %}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('front_user_passed_events') }}">
                                    {% trans %}navbar.user.passed_events{% endtrans %}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('front_event_new') }}">
                                    {% trans %}navbar.user.add_event{% endtrans %}
                                </a>
                            </li>
                        </ul>
                    </li> 
                {% endif %}


            </ul>
        </div><!--/end container-->
    </div><!--/navbar-collapse-->
</div>