<!--=== Header v3 ===-->    
<div class="header-v3">
    <!-- Navbar -->
    <div class="navbar navbar-default mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand" href="{{ path('home')}}">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                <div class="container">
                    <ul class="nav navbar-nav">


                        <li class="dropdown mega-menu-fullwidth">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                {% trans %}navbar.festivals{% endtrans %}
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="mega-menu-content disable-icons">
                                        <div class="container">
                                            <div class="row equal-height">

                                                <div class="col-md-4 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list">
                                                        <li>
                                                            <h3>{% trans %}navbar.festivals.calendar{% endtrans %}</h3>
                                                        </li>
                                                        <li>
                                                            <p>
                                                                {% trans %}navbar.festivals.calendar.p{% endtrans %}
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('festival_calendar') }}">
                                                                <i class="fa fa-sort-alpha-asc"></i>
                                                                {% trans %}navbar.festivals.calendar{% endtrans %}
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <h3>{% trans %}navbar.festivals.europe{% endtrans %}</h3>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('festival_europe') }}">
                                                                {% trans %}navbar.festivals.europe{% endtrans %}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="col-md-4 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list">
                                                        <li>
                                                            <h3>{% trans %}navbar.festivals.america{% endtrans %}</h3>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('festival_north_america') }}">
                                                                {% trans %}navbar.festivals.north_america{% endtrans %}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('festival_central_america') }}">
                                                                {% trans %}navbar.festivals.central_america{% endtrans %}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('festival_south_america') }}">
                                                                {% trans %}navbar.festivals.south_america{% endtrans %}
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <h3>{% trans %}navbar.festivals.africa{% endtrans %}</h3>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('festival_north_africa') }}">
                                                                {% trans %}navbar.festivals.north_africa{% endtrans %}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('festival_central_africa') }}">
                                                                {% trans %}navbar.festivals.central_africa{% endtrans %}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('festival_south_africa') }}">
                                                                {% trans %}navbar.festivals.south_africa{% endtrans %}
                                                            </a>
                                                        </li>
                                                    </ul>                                                                                                                   
                                                </div>

                                                <div class="col-md-4 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list">
                                                        <li>
                                                            <h3>{% trans %}navbar.festivals.asia{% endtrans %}</h3>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('festival_north_asia') }}">
                                                                {% trans %}navbar.festivals.north_asia{% endtrans %}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('festival_south_asia') }}">
                                                                {% trans %}navbar.festivals.south_asia{% endtrans %}
                                                            </a>
                                                        </li>

                                                        <li><a href="{{ path('festival_india') }}">{% trans %}navbar.festivals.india{% endtrans %}</a></li>
                                                        <li><a href="{{ path('festival_indonesia') }}">{% trans %}navbar.festivals.indonesia{% endtrans %}</a></li>
                                                        <li><a href="{{ path('festival_australia') }}">{% trans %}navbar.festivals.australia{% endtrans %}</a></li>
                                                        <li><a href="{{ path('festival_middle_east') }}">{% trans %}navbar.festivals.middle_east{% endtrans %}</a></li>

                                                    </ul>                                                                                                                   
                                                </div>

                                            </div>
                                        </div>    
                                    </div>    
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown mega-menu-fullwidth">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                {% trans %}navbar.discover{% endtrans %}
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="mega-menu-content disable-icons">
                                        <div class="container">
                                            <div class="row equal-height">

                                                <div class="col-md-3 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list">
                                                        <li>
                                                            <h3>{% trans %}navbar.dances.salsa{% endtrans %}</h3>
                                                        </li>

                                                        <li>
                                                            <a href="{{ path('dance_salsa_cubana') }}">{% trans %}navbar.dances.salsa_cubana{% endtrans %}</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('dance_salsa_on1') }}">{% trans %}navbar.dances.salsa_on1{% endtrans %}</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('dance_salsa_on2') }}">{% trans %}navbar.dances.salsa_on2{% endtrans %}</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('dance_salsa_dominicana') }}">{% trans %}navbar.dances.salsa_dominicana{% endtrans %}</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('dance_salsa_rueda') }}">{% trans %}navbar.dances.salsa_rueda{% endtrans %}</a>
                                                        </li>

                                                        <li>
                                                            <a href="{{ path('front_video_filter_video', {'video_filter[tag]':  'Salsa'  , 'video_filter[_token]' :  csrf_token('video_filter')  } ) }}">
                                                                {% trans %}navbar.dances.salsa.video{% endtrans %}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('front_music_filter', {'music_filter[tag]':  'Salsa'  , 'music_filter[_token]' :  csrf_token('music_filter')  } ) }}">
                                                                {% trans %}navbar.dances.salsa.music{% endtrans %}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="col-md-3 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list">
                                                        <li>
                                                            <h3>{% trans %}navbar.dances.bachata{% endtrans %}</h3>
                                                        </li>

                                                        <li>
                                                            <a href="{{ path('dance_bachata_moderna') }}">{% trans %}navbar.dances.bachata_moderna{% endtrans %}</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('dance_bachata_dominicana') }}">{% trans %}navbar.dances.bachata_dominicana{% endtrans %}</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('dance_bachata_sensual') }}">{% trans %}navbar.dances.bachata_sensual{% endtrans %}</a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('front_video_filter_video', {'video_filter[tag]':  'Bachata'  , 'video_filter[_token]' :  csrf_token('video_filter')  } ) }}">
                                                                {% trans %}navbar.dances.bachata.video{% endtrans %}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('front_music_filter', {'music_filter[tag]':  'Bachata'  , 'music_filter[_token]' :  csrf_token('music_filter')  } ) }}">
                                                                {% trans %}navbar.dances.bachata.music{% endtrans %}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="col-md-3 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list">
                                                        <li>
                                                            <h3>{% trans %}navbar.dances.kizomba{% endtrans %}</h3>
                                                        </li>

                                                        <li>
                                                            <a href="{{ path('dance_kizomba') }}">
                                                                {% trans %}navbar.dances.kizomba{% endtrans %}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('front_video_filter_video', {'video_filter[tag]':  'Kizomba'  , 'video_filter[_token]' :  csrf_token('video_filter')  } ) }}">
                                                                {% trans %}navbar.dances.kizomba.video{% endtrans %}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('front_music_filter', {'music_filter[tag]':  'Kizomba'  , 'music_filter[_token]' :  csrf_token('music_filter')  } ) }}">
                                                                {% trans %}navbar.dances.kizomba.music{% endtrans %}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>    
                                    </div>    
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown mega-menu-fullwidth">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                {% trans %}navbar.learn{% endtrans %}
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="mega-menu-content disable-icons">
                                        <div class="container">
                                            <div class="row equal-height">

                                                <div class="col-md-3 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list">
                                                        <li>
                                                            <h3>{% trans %}navbar.dances.salsa{% endtrans %}</h3>
                                                        </li>

                                                        <li><a href="{{ path('learn_salsa') }}">{% trans %}navbar.learn.salsa{% endtrans %}</a></li>

                                                        <li>
                                                            <a href="{{ path('front_video_filter_video', {'video_filter[tag]':  'Salsa' , 'video_filter[move]':  1  , 'video_filter[_token]' :  csrf_token('video_filter')  } ) }}">
                                                                {% trans %}navbar.dances.salsa.move{% endtrans %}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="col-md-3 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list">
                                                        <li>
                                                            <h3>{% trans %}navbar.dances.bachata{% endtrans %}</h3>
                                                        </li>

                                                        <li><a href="{{ path('learn_bachata') }}">{% trans %}navbar.learn.bachata{% endtrans %}</a></li>

                                                        <li>
                                                            <a href="{{ path('front_video_filter_video', {'video_filter[tag]':  'Bachata' , 'video_filter[move]':  1  , 'video_filter[_token]' :  csrf_token('video_filter')  } ) }}">
                                                                {% trans %}navbar.dances.bachata.move{% endtrans %}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="col-md-3 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list">
                                                        <li>
                                                            <h3>{% trans %}navbar.dances.kizomba{% endtrans %}</h3>
                                                        </li>

                                                        <li><a href="{{ path('learn_kizomba') }}">{% trans %}navbar.learn.kizomba{% endtrans %}</a></li>

                                                        <li>
                                                            <a href="{{ path('front_video_filter_video', {'video_filter[tag]':  'Kizomba' , 'video_filter[move]':  1  , 'video_filter[_token]' :  csrf_token('video_filter')  } ) }}">
                                                                {% trans %}navbar.dances.kizomba.move{% endtrans %}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>    
                                    </div>    
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown mega-menu-fullwidth">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                {% trans %}navbar.meet{% endtrans %}
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="mega-menu-content disable-icons">
                                        <div class="container">
                                            <div class="row equal-height">

                                                <div class="col-md-3 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list">
                                                        <li>
                                                            <h3>{% trans %}navbar.meet.dancers{% endtrans %}</h3>
                                                        </li>

                                                        <li>
                                                            <a href="{{ path('front_user_filter', {'user_filter[musictype]':  'Salsa' , 'user_filter[usertype]':  'Dancer'  , 'user_filter[_token]' :  csrf_token('user_filter')  } ) }}">
                                                                {% trans %}navbar.meet.dancers.salsa{% endtrans %}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('front_user_filter', {'user_filter[musictype]':  'Bachata' , 'user_filter[usertype]':  'Dancer'  , 'user_filter[_token]' :  csrf_token('user_filter')  } ) }}">
                                                                {% trans %}navbar.meet.dancers.bachata{% endtrans %}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('front_user_filter', {'user_filter[musictype]':  'Kizomba' , 'user_filter[usertype]':  'Dancer'  , 'user_filter[_token]' :  csrf_token('user_filter')  } ) }}">
                                                                {% trans %}navbar.meet.dancers.kizomba{% endtrans %}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="col-md-3 equal-height-in">
                                                    <ul class="list-unstyled equal-height-list">
                                                        <li>
                                                            <h3>{% trans %}navbar.meet.bars{% endtrans %}</h3>
                                                        </li>

                                                        <li>
                                                            <a href="{{ path('front_user_filter', {'user_filter[musictype]':  'Salsa' , 'user_filter[usertype]':  'bar'  , 'user_filter[_token]' :  csrf_token('user_filter')  } ) }}">
                                                                {% trans %}navbar.meet.bars.salsa{% endtrans %}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('front_user_filter', {'user_filter[musictype]':  'Bachata' , 'user_filter[usertype]':  'bar'  , 'user_filter[_token]' :  csrf_token('user_filter')  } ) }}">
                                                                {% trans %}navbar.meet.bars.bachata{% endtrans %}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="{{ path('front_user_filter', {'user_filter[musictype]':  'Kizomba' , 'user_filter[usertype]':  'bar'  , 'user_filter[_token]' :  csrf_token('user_filter')  } ) }}">
                                                                {% trans %}navbar.meet.bars.kizomba{% endtrans %}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>


                                            </div>
                                        </div>    
                                    </div>    
                                </li>
                            </ul>
                        </li>

                        {% include 'FrontFrontBundle::languageSwitcher.html.twig' %}  

                        {% if not is_granted("ROLE_USER") %}
                            <li>
                                <a href="{{ path('fos_user_registration_register') }}">
                                    {% trans %}navbar.register{% endtrans %}
                                </a>
                            </li>
                            <li class="topbar-devider">                        
                            </li>   
                            <li>
                                <a href="{{ path('fos_user_security_login') }}">
                                    {% trans %}navbar.login{% endtrans %}
                                </a>
                            </li>
                        {% endif %}

                        {% if is_granted("ROLE_USER") %}
                            <li class="dropdown mega-menu-fullwidth">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    <strong>{{ app.user.username|capitalize }}</strong>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="mega-menu-content disable-icons">
                                            <div class="container">
                                                <div class="row equal-height">

                                                    <div class="col-md-3 equal-height-in">
                                                        <ul class="list-unstyled equal-height-list">
                                                            <li>
                                                                <h3>{% trans %}navbar.user.profile{% endtrans %}</h3>
                                                            </li>

                                                            <li>
                                                                <a href="{{ path('front_user_show_public', { id : app.user.id, username : app.user.username } ) }}">
                                                                    {% trans %}navbar.user.my_page{% endtrans %}
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="{{ path('front_user_edit', { id : app.user.id } ) }}">
                                                                    {% trans %}navbar.user.my_profile{% endtrans %}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-md-3 equal-height-in">
                                                        <ul class="list-unstyled equal-height-list">
                                                            <li>
                                                                <h3>My {% trans %}navbar.user.events{% endtrans %}</h3>
                                                            </li>
                                                            <li>
                                                                <a href="{{ path('front_user_next_events') }}">
                                                                    {% trans %}navbar.user.next_events{% endtrans %}
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="{{ path('front_user_passed_events') }}">
                                                                    {% trans %}navbar.user.passed_events{% endtrans %}
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="{{ path('front_event_new') }}">
                                                                    {% trans %}navbar.user.add_event{% endtrans %}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <div class="col-md-3 equal-height-in">
                                                        <ul class="list-unstyled equal-height-list">
                                                            <li>
                                                                <a href="{{ path('fos_user_security_logout') }}">
                                                                    {% trans %}navbar.logout{% endtrans %}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>


                                                </div>
                                            </div>    
                                        </div>    
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div><!--/end container-->
            </div><!--/navbar-collapse-->
        </div>    
    </div>            
    <!-- End Navbar -->
</div>
<!--=== End Header v3 ===-->