<div class="header">
    <div class="container">
        <!-- Logo -->
        <a class="logo"  href="{{ path('home')}}">
            <img src="{{ asset('images/wedancesalsa_logo_v2.png')}}" title="WeDanceSalsa" />
        </a>
        <!-- End Logo -->

        <!-- Topbar -->
        <div class="topbar">
            <ul class="loginbar pull-right">

                {% include 'FrontFrontBundle::languageSwitcher.html.twig' %}  
                <li class="topbar-devider"></li>   
                    {% if is_granted("ROLE_USER") %}
                    <li><a href="{{ path('front_user_show_private') }}">{{ app.user.username|capitalize }}</a></li>
                    <li class="topbar-devider"></li>   
                    <li><a href="{{ path('fos_user_security_logout') }}">{% trans %}navbar.logout{% endtrans %}</a></li>
                    {% else %}
                    <li><a href="{{ path('fos_user_registration_register') }}">{% trans %}navbar.register{% endtrans %}</a></li>
                    <li class="topbar-devider"></li>   
                    <li><a href="{{ path('fos_user_security_login') }}">{% trans %}navbar.login{% endtrans %}</a></li>
                    {% endif %}
            </ul>
        </div>
        <!-- End Topbar -->

        <!-- Toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
        </button>
        <!-- End Toggle -->
    </div><!--/end container-->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
        <div class="container">
            <ul class="nav navbar-nav">
                <!-- Home -->
                <li class="active">
                    <a href="{{ path('home')}}" >
                        Home
                    </a>
                </li>
                <!-- End Home -->

                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                        Festivals
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="">Calendar</a></li>
                        <li><a href="">Europe</a></li>
                        <li><a href="">North America</a></li>
                        <li><a href="">South America</a></li>
                        <li><a href="">Africa</a></li>
                        <li><a href="">Asia</a></li>
                        <li><a href="">Australia</a></li>
                    </ul>
                </li>                    

                <li>
                    <a href="{{ path('home')}}" >
                        Artits
                    </a>
                </li>
                <li>
                    <a href="{{ path('home')}}" >
                        Bands
                    </a>
                </li>
                <li>
                    <a href="{{ path('home')}}" >
                        Learn
                    </a>
                </li>
                <li>
                    <a href="{{ path('home')}}" >
                        Videos
                    </a>
                </li>
                <li>
                    <a href="{{ path('home')}}" >
                        Musics
                    </a>
                </li>

                {% if is_granted("ROLE_USER") %}
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            {{ app.user.username|capitalize }}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('front_user_show_public', { id : app.user.id, username : app.user.username } ) }}">ma page</a>
                            </li>
                            <li>
                                <a href="{{ path('front_user_edit', { id : app.user.id } ) }}">mon profil</a>
                            </li>
                            <li>
                                <a href="{{ path('front_user_next_events') }}">mes évenements à venir</a>
                            </li>
                            <li>
                                <a href="{{ path('front_user_passed_events') }}">mes évenements passés</a>
                            </li>
                        </ul>
                    </li> 
                {% endif %}


            </ul>
        </div><!--/end container-->
    </div><!--/navbar-collapse-->
</div>