{% extends 'FrontFrontBundle::layout.html.twig' %}

{% block title %}
    {{ entity.getName()|capitalize }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/css/compiled/profile.css') }}" />       
{% endblock %} 



{% block content %}

    {% include 'FrontFrontBundle:User:userBreadcrumb.html.twig' with { title : 'user.edit.pictures'|trans } %}


    <!--=== Content Part ===-->
    <div class="container content profile">

        <div class="row">
            <!--Left Sidebar-->
            {% include 'FrontFrontBundle:User:leftSidebar.html.twig' with { active : 'pictures' } %}
            <!--End Left Sidebar-->

            <!-- Profile Content -->            
            <div class="col-md-10">

                <div class="profile-body">

                    <h2 class="heading-md">{% trans %}user.edit.photos.h2{% endtrans %}</h2>
                    <br>

                    {% set action_path = path('front_user_edit' , { id: entity.id, editId: editId }) %}
                    {% include 'FileFileBundle::uploadFileForm.html.twig' with {
                                                     action_path: action_path,
                                                     cancel_path: 'front_user_show_private',
                                                     delete_path: '',
                                                     id: entity.id, 
                                                     editId: editId, 
                                                     existingFiles: existingFiles,
                                                     entity: entity,
                                             } %}


                    <div class="margin-bottom-10"></div>

                    {{ knp_pagination_render(pagination) }}


                </div>  
            </div>
        </div>
    </div>
    <!-- End Profile Content -->

</div><!--/container-->	 	
<!--=== End Content Part ===-->

{% endblock %}


{% block bottomJavascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("front/js/plugins/cube-portfolio/cube-portfolio-4-fw.js") }}"></script>

    <script src="{{ asset('front/js/underscore-min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/jquery.fileupload.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/jquery.iframe-transport.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/FileUploader.js') }}" type="text/javascript"></script>  

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
        });
    </script>

{% endblock %}    