{% extends 'FrontFrontBundle::layout.html.twig' %}

{% block title %}
    {{ entity.username|capitalize }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/css/compiled/profile.css') }}" />       
{% endblock %} 



{% block content %}

    {% include 'FrontFrontBundle:User:userBreadcrumb.html.twig' with { title : 'user.edit_profil'|trans } %}


    <!--=== Content Part ===-->
    <div class="container content profile">

        <!-- Profile Content -->
        <div class="col-md-12">
            <div class="profile-body margin-bottom-20">
                <div class="tab-v1">
                    <ul class="nav nav-justified nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#profile">{% trans %}user.edit.profil{% endtrans %}</a></li>
                        <li><a data-toggle="tab" href="#description">{% trans %}user.edit.descriptions{% endtrans %}</a></li>
                        <li><a data-toggle="tab" href="#link">{% trans %}user.edit.links{% endtrans %}</a></li>
                        <li><a data-toggle="tab" href="#picture">{% trans %}user.edit.pictures{% endtrans %}</a></li>
                        <li><a data-toggle="tab" href="#music">{% trans %}user.edit.musics{% endtrans %}</a></li>
                        <li><a data-toggle="tab" href="#video">{% trans %}user.edit.videos{% endtrans %}</a></li>
                        <li><a data-toggle="tab" href="#address">{% trans %}user.edit.adresses{% endtrans %}</a></li>
                    </ul>          
                    <div class="tab-content">



                        <div id="profile" class="profile-edit tab-pane fade in active">
                            <h2 class="heading-md">{% trans %}user.edit.profil.h2{% endtrans %}</h2>
                            <br>

                            <div id="profilForm">
                                {% include 'FrontFrontBundle:User:profileForm.html.twig' %}
                            </div>

                        </div>

                        <div id="description" class="profile-edit tab-pane fade">
                            <h2 class="heading-md">{% trans %}user.edit.descriptions.h2{% endtrans %}</h2>
                            <br>

                            <div id="descriptionForm">
                                {% include 'FrontFrontBundle:User:descriptionForm.html.twig' %}
                            </div>

                        </div>

                        <div id="link" class="profile-edit tab-pane fade">
                            <h2 class="heading-md">{% trans %}user.edit.links.h2{% endtrans %}</h2>
                            <br>

                            <div id="linkForm">
                                {% include 'FrontFrontBundle:User:linkForm.html.twig' %}
                            </div>

                        </div>

                        <div id="picture" class="profile-edit tab-pane fade">
                            <h2 class="heading-md">{% trans %}user.edit.photos.h2{% endtrans %}</h2>
                            <br>

                            {% set action_path = path('front_user_edit' , { id: entity.id, editId: editId }) %}
                            {% include 'FileFileBundle::uploadFileForm.html.twig' with {
                                                    action_path: action_path,
                                                    cancel_path: 'front_user_show_private',
                                                    delete_path: '',
                                                    id: entity.id, 
                                                    editId: editId, 
                                                    existingFiles: existingFiles,
                                                    entity: entity,
                                            } %}


                        </div>

                        <div id="music" class="profile-edit tab-pane fade">
                            <h2 class="heading-md">{% trans %}user.edit.musics.h2{% endtrans %}</h2>

                            <p>{% trans %}user.edit.musics.p{% endtrans %}</p>


                            <button class='btn btn-success margin-bottom-30 pull-left' id="userAddMusic" href="{{ path('front_music_new', { id : entity.id } ) }}">
                                {% trans %}user.add_music_button{% endtrans %}
                            </button>

                            <div class="row margin-bottom-20" id="userMusicList">
                                {% for music in entity.musics %}
                                    {% render(path('front_music_show_with_buttons', { id : music.id } )) %}
                                {% endfor %}
                            </div>



                        </div>

                        <div id="video" class="profile-edit tab-pane fade">
                            <h2 class="heading-md">{% trans %}user.edit.videos.h2{% endtrans %}</h2>

                            <p>{% trans %}user.edit.videos.p{% endtrans %}</p>


                            <button class='btn btn-success margin-bottom-30 pull-left' id="userAddVideo" href="{{ path('front_video_new', { id : entity.id } ) }}">
                                {% trans %}user.add_video_button{% endtrans %}
                            </button>

                            <div  class="row margin-bottom-20"  id="userVideoList">
                                {% for video in entity.videos %}
                                    {% render(path('front_video_show_with_buttons', { id : video.id } )) %}
                                {% endfor %}
                            </div>

                        </div>

                        <div id="address" class="profile-edit tab-pane fade">
                            <h2 class="heading-md">{% trans %}user.edit.addresses.h2{% endtrans %}</h2>

                            <p>{% trans %}user.edit.addresses.p{% endtrans %}</p>

                            <button class='btn btn-success margin-bottom-30 pull-left' id="userAddAddress" href="{{ path('front_address_user_new', { id : entity.id } ) }}">
                                {% trans %}user.add_address_button{% endtrans %}
                            </button>

                            <div  class="row margin-bottom-20" id="userAddressList">
                                {% for address in entity.addresses %}
                                    {% render(path('front_address_show_with_buttons', { id : address.id } )) %}
                                {% endfor %}
                            </div>


                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <!-- End Profile Content -->



</div><!--/container-->	 	
<!--=== End Content Part ===-->

{% endblock %}


{% block bottomJavascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("front/js/plugins/cube-portfolio/cube-portfolio-4-fw.js") }}"></script>

    <script src="{{ asset('front/js/underscore-min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/jquery.fileupload.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/jquery.iframe-transport.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/FileUploader.js') }}" type="text/javascript"></script>  

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
        {#            PortfolioPage.init();#}

        });
    </script>

{% endblock %}    