{% extends 'FrontFrontBundle::layout.html.twig' %}

{% block title %}
    {{ entity.username|capitalize }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("front/css/pages/portfolio-v2.css") }}">
    <link rel="stylesheet" href="{{ asset("front/css/pages/profile.css") }}">
    <link rel="stylesheet" href="{{ asset("front/css/pages/shortcode_timeline2.css") }}">
    <link rel="stylesheet" href="{{ asset("front/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css") }}">    
    <link rel="stylesheet" href="{{ asset("front/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css") }}">
{% endblock %}    



{% block content %}

    <!--=== Content Part ===-->
    <div class="container content profile">


        <!--=== Breadcrumbs ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">{{ entity.username|capitalize }}</h1>
                <a href="{{ path('front_user_show_private') }}" class="btn btn-warning btn-sm pull-right">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                    <span> {% trans %}front.back{% endtrans %}</span>
                </a>
            </div><!--/container-->
        </div><!--/breadcrumbs-->
        <!--=== End Breadcrumbs ===-->

        <!-- Profile Content -->
        <div class="col-md-12">
            <div class="profile-body margin-bottom-20">
                <div class="tab-v1">
                    <ul class="nav nav-justified nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#profile">Edit Profile</a></li>
                        <li><a data-toggle="tab" href="#description">Change Descriptions</a></li>
                        <li><a data-toggle="tab" href="#link">Manage Links</a></li>
                        <li><a data-toggle="tab" href="#picture">Add Pictures</a></li>
                        <li><a data-toggle="tab" href="#music">Add Musics</a></li>
                        <li><a data-toggle="tab" href="#video">Add Videos</a></li>
                        <li><a data-toggle="tab" href="#address">Addresses</a></li>
                    </ul>          
                    <div class="tab-content">



                        <div id="profile" class="profile-edit tab-pane fade in active">
                            <h2 class="heading-md">Manage your name and details.</h2>
                            <br>

                            <div id="profilForm">
                                {% include 'FrontFrontBundle:User:profileForm.html.twig' %}
                            </div>

                        </div>

                        <div id="description" class="profile-edit tab-pane fade">
                            <h2 class="heading-md">Manage your descriptions</h2>
                            <br>

                            <div id="descriptionForm">
                                {% include 'FrontFrontBundle:User:descriptionForm.html.twig' %}
                            </div>

                        </div>

                        <div id="link" class="profile-edit tab-pane fade">
                            <h2 class="heading-md">Manage your links</h2>
                            <p>Link your profile to social networks.</p>
                            <br>

                            <div id="linkForm">
                                {% include 'FrontFrontBundle:User:linkForm.html.twig' %}
                            </div>

                        </div>

                        <div id="picture" class="profile-edit tab-pane fade">
                            <h2 class="heading-md">Add Pictures</h2>
                            <p>{% trans %}user.images_title{% endtrans %}</p>
                            <br>

                            {% set action_path = path('front_user_edit' , { id: entity.id, editId: editId }) %}
                            {% include 'FileFileBundle::uploadFileForm.html.twig' with {
                                                    action_path: action_path,
                                                    cancel_path: 'front_user_show_private',
                                                    delete_path: '',
                                                    id: entity.id, 
                                                    editId: editId, 
                                                    existingFiles: existingFiles,
                                                    entity: entity,
                                            } %}


                        </div>

                        <div id="music" class="profile-edit tab-pane fade">
                            <h2 class="heading-md">Add Musics</h2>
                            <p>{% trans %}user.musics_title{% endtrans %}</p>
                            <br>

                            <button id="userAddMusic" href="{{ path('front_music_new', { id : entity.id } ) }}">{% trans %}user.add_music_button{% endtrans %}</button>

                            <div class="row margin-bottom-20" id="userMusicList">
                                {% for music in entity.musics %}
                                    {% render(path('front_music_show_with_buttons', { id : music.id } )) %}
                                {% endfor %}
                            </div>



                        </div>

                        <div id="video" class="profile-edit tab-pane fade">
                            <h2 class="heading-md">Add Videos</h2>
                            <p>{% trans %}user.videos_title{% endtrans %}</p>
                            <br>

                            <button id="userAddVideo" href="{{ path('front_video_new', { id : entity.id } ) }}">{% trans %}user.add_video_button{% endtrans %}</button>

                            <div  class="row margin-bottom-20"  id="userVideoList">
                                {% for video in entity.videos %}
                                    {% render(path('front_video_show_with_buttons', { id : video.id } )) %}
                                {% endfor %}
                            </div>

                        </div>

                        <div id="address" class="profile-edit tab-pane fade">
                            <h2 class="heading-md">Address</h2>
                            <p>{% trans %}user.address_title{% endtrans %}</p>
                            <br>

                            <button id="userAddAddress" href="{{ path('front_address_user_new', { id : entity.id } ) }}">{% trans %}user.add_address_button{% endtrans %}</button>

                            <div  class="row margin-bottom-20" id="userAddressList">
                                {% for address in entity.addresses %}
                                    {% render(path('front_address_show_with_buttons', { id : address.id } )) %}
                                {% endfor %}
                            </div>


                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <!-- End Profile Content -->



</div><!--/container-->	 	
<!--=== End Content Part ===-->

{% endblock %}


{% block bottomJavascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("front/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("front/js/plugins/cube-portfolio/cube-portfolio-4-fw.js") }}"></script>

    <script src="{{ asset('front/js/underscore-min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/jquery.fileupload.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/jquery.iframe-transport.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/FileUploader.js') }}" type="text/javascript"></script>  

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            PortfolioPage.init();

        });
    </script>

{% endblock %}    