{% extends 'FrontFrontBundle:User:userLayout.html.twig' %}

{% set count_people = 0 %}
{% for person in pagination %}
    {% set count_people = count_people + 1 %}
{% endfor %}

{% set criterias = (filterForm.search.vars.value~' '~filterForm.musictype.vars.value~' '~filterForm.usertype.vars.value)|trim %}

{% block content %}

    {% include 'FrontFrontBundle:User:userBreadcrumb.html.twig' with { active : 'users' } %}

    <!--=== Search Block Version 2 ===-->
    <div class="search-block-v2">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">

                <h2>{% trans %}user.search_title{% endtrans %}</h2>

                {{ form_start(filterForm, { 'attr' : { 'class' : 'no_validation', 'id' : 'user_filter_form' } } ) }}
                <div class="input-group">
                    {% set placeholder %}
                        {% trans %}user.search_input_placeholder{% endtrans %}
                    {% endset %}
                    {{ form_widget(filterForm.search,{ 'attr' : { 'class' : 'form-control', 'placeholder' : placeholder|trim } } ) }}
                    <span class="input-group-btn">
                        <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                    {{ form_row(filterForm.musictype) }}
                    {{ form_row(filterForm.usertype) }}

                </div>
                {{ form_end(filterForm) }}

            </div>
        </div>    
    </div><!--/container-->     
    <!--=== End Search Block Version 2 ===-->

    <!--=== Search Results ===-->
    <div class="container s-results margin-bottom-50">
        <div class="row">
            <div class="col-md-2 hidden-xs related-search">
                <div class="row">

                    <div class="col-md-12 col-sm-4">
                        {% render(path('front_usertype_list_for_user_search')) %}
                    </div> 

                    <div class="col-md-12 col-sm-4">
                        {% render(path('front_musictype_list_for_user_search')) %}
                    </div>    

                </div>        
            </div><!--/col-md-2-->

            <div class="col-md-10 profile" id="user_list">

                {% if 1 > count_people %}
                    <div class="alert alert-info fade in">
                        <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
                        <strong>{% trans %}front.alert.info{% endtrans %}</strong>
                        {% trans %}user.list.no_users{% endtrans %}
                    </div>
                {% endif %}

                <div class="blog_masonry_3col">
                    <div class="grid-boxes">

                        {% for person in pagination %}
                            {% include 'FrontFrontBundle:User:showListDiv.html.twig' %}
                        {% endfor %}

                        {% if 5 > count_people %}
                            {% include 'FrontFrontBundle:User:add.html.twig' %}
                        {% endif %}

                    </div>    
                </div>

                <div class="margin-bottom-10"></div>

                {{ knp_pagination_render(pagination) }}

            </div><!--/col-md-10-->
        </div>        
    </div><!--/container-->     
    <!--=== End Search Results ===-->

{% endblock %}

{% block toastr %}
    {{ parent() }}

    {% if 1 > count_people %}

        {% set toastr_message = 'toastr.load.user.no_users'|trans  %}
        {% include 'FrontFrontBundle:Toastr:info.html.twig' with { toastr_message : toastr_message } %} 
    {% endif %}

    {% if count_people %}
        {% if 5 > count_people %}
            {% set toastr_message = 'toastr.load.user.less_5'|trans  %}
            {% include 'FrontFrontBundle:Toastr:success.html.twig' with { toastr_message : toastr_message } %} 
        {% else %}
            {% set toastr_message = 'toastr.load.user.more_5'|trans %}
            {% include 'FrontFrontBundle:Toastr:success.html.twig' with { toastr_message : toastr_message } %} 
        {% endif %}
    {% endif %}

    {% set toastr_message = 'toastr.filter.criterias'|trans ({'%CRITERIAS%': criterias}) %}
    {% include 'FrontFrontBundle:Toastr:info.html.twig' with { toastr_message : toastr_message } %} 
{% endblock %}