{% extends 'FrontFrontBundle:User:userLayout.html.twig' %}

{% block content %}

    {% include 'FrontFrontBundle:User:userBreadcrumb.html.twig' with { active : 'users' } %}

    <!--=== Search Block Version 2 ===-->
    <div class="search-block-v2">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">

                <h2>{% trans %}user.search_title{% endtrans %}</h2>

                {{ form_start(filterForm, { 'attr' : { 'class' : 'no_validation', 'id' : 'user_filter_form' } } ) }}
                <div class="input-group">
                    {% set placeholder %}
                        {% trans %}user.search_input_placeholder{% endtrans %}
                    {% endset %}
                    {{ form_widget(filterForm.search,{ 'attr' : { 'class' : 'form-control', 'placeholder' : placeholder|trim } } ) }}
                    <span class="input-group-btn">
                        <button class="btn-u" type="submit"><i class="fa fa-search"></i></button>
                    </span>
                    {{ form_row(filterForm.musictype) }}
                    {{ form_row(filterForm.usertype) }}
                </div>
                {{ form_end(filterForm) }}

            </div>
        </div>    
    </div><!--/container-->     
    <!--=== End Search Block Version 2 ===-->

    <!--=== Search Results ===-->
    <div class="container s-results margin-bottom-50">
        <div class="row">
            <div class="col-md-2 hidden-xs related-search">
                <div class="row">

                    <div class="col-md-12 col-sm-4">
                        {% render(path('front_usertype_list_for_user_search')) %}
                    </div> 

                    <div class="col-md-12 col-sm-4">
                        {% render(path('front_musictype_list_for_user_search')) %}
                    </div>    

                </div>        
            </div><!--/col-md-2-->

            <div class="col-md-10 profile" id="user_list">

                <div class="table-search-v2">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tbody>
                                {% set count_people = 0 %}
                                {% for person in pagination %}
                                    {% set count_people = count_people + 1 %}
                                    {% include 'FrontFrontBundle:User:showListTr.html.twig' %}
                                {% endfor %}

                                {% if 4 > count_people %}
                                    {% include 'FrontFrontBundle:User:add.html.twig' %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>    
                </div>

                <div class="margin-bottom-30"></div>

                {{ knp_pagination_render(pagination) }}

            </div><!--/col-md-10-->
        </div>        
    </div><!--/container-->     
    <!--=== End Search Results ===-->
{% endblock %}