{% set width = '' %}
{% if class is not defined %}
    {% set class = '' %}
{% endif %}
{% if a_class is not defined %}
    {% set a_class = '' %}
{% endif %}
{% if href is not defined %}
    {% set href = path('front_user_show_public', { username : user.username, id : user.id } ) %}
{% endif %}
{% if filter is not defined %}
    {% set filter = 'member_photo' %}
    {% set width = '90px' %}
{% endif %}
{% if filter == 'member_min_thumb' %}
    {% set width = '34px' %}
{% endif %}

{% if user %}
    <a href="{{ href }}" class="{{ a_class }}" data-user-id="{{ user.id }}">
        {% if user.isFacebookUser %}
            <img src='{{ user.profilePictureUrl }}' class="{{ class }} img-responsive" width="{{ width }}"  /> 
        {% elseif user.profilePictureUrl %}
            <img src='{{ asset(user.profilePictureUrl)| imagine_filter(filter) }}' class="{{ class }} img-responsive" width="{{ width }}" /> 
        {% endif %}
    </a>    
{% endif %}