{% extends 'FrontFrontBundle::layout.html.twig' %}

{% block title %}
    {{ user.username|capitalize }}
{% endblock %}
{% block head %}
    {{ parent() }}
    <meta name="description" content="{{ user.getDescriptionShort|striptags }}" />
    <!-- partage facebook -->
    <meta property="og:title" content="{{ user.username|capitalize }}" />
    <meta property="og:description" content="{{ user.getDescriptionShort|striptags }}" />
    <!--<meta property="og:image" content="URL_image" />-->
    <!-- partage facebook -->
{% endblock %}

{% block topJavascripts %}   
    {{ parent() }}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}">
    </script>
{% endblock %}    

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("front/css/pages/portfolio-v2.css") }}">
    <link rel="stylesheet" href="{{ asset("front/css/pages/profile.css") }}">
    <link rel="stylesheet" href="{{ asset("front/css/pages/shortcode_timeline2.css") }}">
    <link rel="stylesheet" href="{{ asset("front/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css") }}">    
    <link rel="stylesheet" href="{{ asset("front/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css") }}">
{% endblock %}    



{% block content %}

    <!--=== Content Part ===-->
    <div class="container content profile">


        <!--=== Breadcrumbs ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">{{ user.username|capitalize }}</h1>
                <ul class="pull-right breadcrumb">
                    <li><a href="{{ path('home') }}">{% trans %}link.home{% endtrans %}</a></li>
                    <li><a href="">Portfolio</a></li>
                    <li class="active">{{ user.username|capitalize }}</li>
                </ul>
            </div><!--/container-->
        </div><!--/breadcrumbs-->
        <!--=== End Breadcrumbs ===-->

        <!-- Profile Content -->
        <div class="col-md-12">
            <div class="profile-body">
                <div class="profile-bio">
                    <div class="row">
                        <div class="col-md-5 ">                               
                            {% if user.isFacebookUser %}
                                <img class="img-responsive md-margin-bottom-10" width="300px" src='{{ user.profilePictureUrl }}' />
                            {% elseif user.profilePictureUrl %}
                                <img class="img-responsive md-margin-bottom-10" width="300px" src='{{ asset(user.profilePictureUrl)| imagine_filter('member_photo') }}' />
                            {% endif %}
                        </div>
                        <div class="col-md-7">

                            <div class="overflow-h">
                                <div class="pull-left">
                                    <h2>
                                        {{ user.username|capitalize }}
                                        {% if app.user is not null and app.user == user and is_granted('ROLE_USER') %}
                                            <a class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs " href="{{ path('front_user_edit', {id: user.id} ) }}">{% trans %}front.edit{% endtrans %}</a>
                                        {% endif %}
                                    </h2>
                                    <span>Dancer</span>
                                </div> 
                                <ul class="social-icons pull-right">
                                    <li><a class="rounded-x social_facebook {% if not user.facebookLink %}disabled{% endif %}" data-original-title="Facebook" href="{{ user.facebookLink }}" target="_blank"></a></li>
                                    <li><a class="rounded-x social_twitter {% if not user.twitterLink %}disabled{% endif %}" data-original-title="Twitter" href="{{ user.twitterLink }}" target="_blank"></a></li>
                                    <li><a class="rounded-x social_googleplus {% if not user.googleLink %}disabled{% endif %}" data-original-title="Google Plus" href="{{ user.googleLink }}" target="_blank"></a></li>
                                    <li><a class="rounded-x social_linkedin {% if not user.instagramLink %}disabled{% endif %}" data-original-title="Linkedin" href="{{ user.instagramLink }}" target="_blank"></a></li>
                                </ul>


                            </div>
                        </div>  
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget massa nec turpis congue bibendum. Integer nulla felis, porta suscipit nulla et, dignissim commodo nunc. Morbi a semper nulla.</p>
                        <p> consequat. Cras consequat nisl ante, nec malesuada velit pellentesque ac. Pellentesque nec arcu in ipsum iaculis convallis.</p>
                        <p>{{ user.getBaseline|capitalize }}</p>
                        <p>{{ user.getDescriptionShort|raw }}</p>


                        {#{% if user.getUserType %}    
                            <p><i class="icon-custom icon-sm rounded-x icon-bg-orange fa fa-heart-o "></i> {{ user.getUserType }}</p>
                        {% endif %}#}
                        {% if user.getMusicType %}    
                            <p><i class="icon-custom icon-sm rounded-x icon-bg-orange fa fa-heart-o "></i> {{ user.getMusicTypesText }}</p>
                        {% endif %}
                        <p><i class="icon-custom icon-sm rounded-x icon-bg-blue fa fa-map-marker "></i> Lille, France</p>

                    </div>
                </div>    
            </div><!--/end row-->

            <hr>


            
                        <!--Timeline-->
                        {% if user.events|length %}
                            <div class="panel panel-profile">
                                <div class="panel-heading overflow-h">
                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> {% trans %}user.events_title{% endtrans %}</h2>
                                    <a href="#"><i class="fa fa-cog pull-right"></i></a>
                                </div>
                                <div class="panel-body margin-bottom-40">
                                    <ul class="timeline-v2 timeline-me">
                                        {% for event in user.events %}
                                            {% if event.isValid %}
            
                                                <li>
                                                    <time datetime="" class="cbp_tmtime"><span>Soirée</span> <span>10 jan 2015</span></time>
                                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                                    <div class="cbp_tmlabel">
                                                        <h2><a href="{{ path('front_event_show', { 'id': event.id, 'uri' : event.getURI }) }}" >{{ event.getTitle|capitalize }}</a></h2>
                                                        <p>Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Peasprouts wattle seed rutabaga okra yarrow cress avocado grape.</p> 
                                                    </div>
                                                </li>
            
                                            {% endif%}
                                        {% endfor%}
                                    </ul>
                                </div>    
                            </div>
                        {% endif%}
            
                        <!--End Timeline-->
            
                        <hr>
            
            
            
                        <div class="row">
            
                            <!--=== Cube-Portfdlio ===-->
                            <div class="panel panel-profile">
                                <div class="panel-heading overflow-h">
                                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Mes photos</h2>
                                    <a href="#"><i class="fa fa-cog pull-right"></i></a>
                                </div>
                                <div class="cube-portfolio margin-bottom-20">
            
            
            
                                    <div id="grid-container" class="cbp-l-grid-fullWidth">
            
                                        {% for userFile in user.userFiles %}
                                            {% if userFile.isImage %}
            
                                                <div class="cbp-item graphic">
                                                    <div class="cbp-caption">
                                                        <div class="cbp-caption-defaultWrap">
                                                            <img src="{{ asset(userFile.getMediumPathUri) }}" alt="">
                                                        </div>
                                                        <div class="cbp-caption-activeWrap">
                                                            <div class="cbp-l-caption-alignCenter">
                                                                <div class="cbp-l-caption-body">
                                                                    <ul class="link-captions">
                                                                        <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                                                        <li><a href="{{ asset(userFile.getMediumPathUri) }}" class="cbp-lightbox" data-title="{{ user.username|capitalize }}"><i class="rounded-x fa fa-search"></i></a></li>
                                                                    </ul>
                                                                    <div class="cbp-l-grid-agency-title">{{ user.username|capitalize }}</div>
                                                                    <div class="cbp-l-grid-agency-desc">Web Design</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>            
            
                                            {% endif%}
                                        {% endfor%}
            
                                        <div class="cbp-item graphic">
                                            <div class="cbp-caption">
                                                <div class="cbp-caption-defaultWrap">
                                                    <img src="{{ asset("assets/img/main/img26.jpg") }}" alt="">
                                                </div>
                                                <div class="cbp-caption-activeWrap">
                                                    <div class="cbp-l-caption-alignCenter">
                                                        <div class="cbp-l-caption-body">
                                                            <ul class="link-captions">
                                                                <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                                                <li><a href="{{ asset("assets/img/main/img26.jpg") }}" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                                            </ul>
                                                            <div class="cbp-l-grid-agency-title">Design Object 01</div>
                                                            <div class="cbp-l-grid-agency-desc">Web Design</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
            
                                        <div class="cbp-item web-design logos">
                                            <div class="cbp-caption">
                                                <div class="cbp-caption-defaultWrap">
                                                    <img src="{{ asset("assets/img/main/img2.jpg") }}" alt="">
                                                </div>
                                                <div class="cbp-caption-activeWrap">
                                                    <div class="cbp-l-caption-alignCenter">
                                                        <div class="cbp-l-caption-body">
                                                            <ul class="link-captions">
                                                                <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                                                <li><a href="{{ asset("assets/img/main/img2.jpg") }}" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                                            </ul>
                                                            <div class="cbp-l-grid-agency-title">Design Object 02</div>
                                                            <div class="cbp-l-grid-agency-desc">Web Design</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cbp-item graphic logos">
                                            <div class="cbp-caption">
                                                <div class="cbp-caption-defaultWrap">
                                                    <img src="{{ asset("assets/img/main/img9.jpg") }}" alt="">
                                                </div>
                                                <div class="cbp-caption-activeWrap">
                                                    <div class="cbp-l-caption-alignCenter">
                                                        <div class="cbp-l-caption-body">
                                                            <ul class="link-captions">
                                                                <li><a href="portfolio_single_item.html"><i class="rounded-x fa fa-link"></i></a></li>
                                                                <li><a href="{{ asset("assets/img/main/img9.jpg") }}" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                                            </ul>
                                                            <div class="cbp-l-grid-agency-title">Design Object 03</div>
                                                            <div class="cbp-l-grid-agency-desc">Web Design</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
                                    </div><!--/end Grid Container-->
                                </div>
                                <!--=== End Cube-Portfdlio ===-->
                            </div>
                        </div>
            
            
            
                        <hr>
            
                        <!-- Video Blocks -->      
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Mes vidéos</h2>
                                <a href="#"><i class="fa fa-cog pull-right"></i></a>
                            </div>
            
                            <div class="row margin-bottom-60">
            
                                <div class="col-md-4">
                                    <div class="responsive-video margin-bottom-30">
                                        <iframe src="http://player.vimeo.com/video/47911018" width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="responsive-video margin-bottom-30">
                                        <iframe src="http://player.vimeo.com/video/47911018" width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="responsive-video margin-bottom-30">
                                        <iframe src="http://player.vimeo.com/video/47911018" width="530" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                    </div>
                                </div>
                                <!-- Vimeo Video -->                
                                <div class="col-md-4">
                                    <div class="responsive-video md-margin-bottom-40">
                                        <iframe width="100%" src="//www.youtube.com/embed/4dmt7tQG1-w" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <!-- End Vimeo Video -->
            
                                <!-- Youtube Video -->
                                <div class="col-md-4">
                                    <div class="responsive-video">
                                        <iframe width="100%" src="//www.youtube.com/embed/Squv4KI751w" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <!-- End Youtube Video -->
                            </div>
                        </div>
                        <!-- End Video Blocks -->                
            
                        <hr>
            
                        <!-- Soundcloud Music -->
                        <div class="panel panel-profile">
                            <div class="panel-heading overflow-h">
                                <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Mes musiques</h2>
                                <a href="#"><i class="fa fa-cog pull-right"></i></a>
                            </div>
            
                            <div class="row margin-bottom-20">
                                <div class="col-md-6 md-margin-bottom-20"> 
                                    <iframe width="100%" height="305" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/82304720&amp;auto_play=false&amp;hide_related=false&amp;visual=true"></iframe>
                                </div>                    
                                <div class="col-md-6"> 
                                    <iframe width="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/19048953&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
            
                                    <div class="md-margin-bottom-20"></div><!--space for mobile view-->
            
                                    <iframe width="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/78441806&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
                                </div>                    
                            </div>
                            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/31532505&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>
                        </div>
                        <!-- End Soundcloud Music -->


        </div>
    </div>
    <!-- End Profile Content -->



</div><!--/container-->	 	
<!--=== End Content Part ===-->

{% endblock %}


{% block bottomJavascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("front/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("front/js/plugins/cube-portfolio/cube-portfolio-4-fw.js") }}"></script>


    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            App.initCounter();
            App.initParallaxBg();
            RevolutionSlider.initRSfullScreenOffset();
            PortfolioPage.init();

        });
    </script>

{% endblock %}    

