<tr>
    <td min-width="90px">
        {% include 'FrontFrontBundle:User:memberPhoto.html.twig' with { user : person, class : '' } %}
    </td>
    <td class="td-width">
        <h3>
            <a href="{{ path('front_user_show_public', { username : person.username, id : person.id } ) }}">
                {{ person.getName()|capitalize }}
            </a>
        </h3>
        {% if person.getAddress %}
            <p>
                <small class="hex">{{ person.getAddress.getFullAddress|capitalize }}</small>
            </p>
        {% endif %}
        {% if person.getBaseline %}
            <p>
                <small class="hex">{{ person.getBaseline|capitalize }}</small>
            </p>
        {% endif %}

        <p>{{ person.getDescription()|raw }}</p>
    </td>
    <td>
        {% include 'FrontFrontBundle:User:musicTypeList.html.twig' %}
    </td>
    <td>
        {% include 'FrontFrontBundle:User:socialIconList.html.twig' %}
    </td>
    {% render(path('front_user_show_overviews_index', { id : person.id } )) %}
</tr>