<p> 
    <ul class="list-inline">
        {% if count_lovesme %}
            <li>
                {% trans %}overviews.likes{% endtrans %} : {{ count_lovesme }}
            </li>
        {% endif %}

        {% if count_events %}
            <li>
                {% trans %}overviews.events{% endtrans %} : {{ count_events }}
            </li>
        {% endif %}

        {% if count_videos %}
            <li>
                {% trans %}overviews.videos{% endtrans %} : {{ count_videos }}
            </li>
        {% endif %}

        {% if count_photos %}
            <li>
                {% trans %}overviews.photos{% endtrans %} : {{ count_photos }}
            </li>
        {% endif %}

        {% if count_musics %}
            <li>
                {% trans %}overviews.musics{% endtrans %} : {{ count_musics }}
            </li>
        {% endif %}
    </ul>
</p>