{% extends 'FrontFrontBundle::layout.html.twig' %}

{% block title %}
    {{ user.username|capitalize }}
{% endblock %}
{% block head %}
    {{ parent() }}
    <meta name="description" content="{{ user.getDescriptionShort|striptags }}" />
    <!-- partage facebook -->
    <meta property="og:title" content="{{ user.username|capitalize }}" />
    <meta property="og:description" content="{{ user.getDescriptionShort|striptags }}" />
    <!--<meta property="og:image" content="URL_image" />-->
    <!-- partage facebook -->
{% endblock %}

{% block topJavascripts %}   
    {{ parent() }}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}">
    </script>
{% endblock %}    

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('front/css/compiled/profile.css') }}" />       
{% endblock %}



{% block content %}


    <!--=== Profile ===-->
    <div class="container content profile">	
        <div class="row">

            <!-- Profile Content -->
            <div class="col-md-12">
                <div class="profile-body">
                    <div class="profile-bio">
                        <div class="row">
                            <div class="col-md-4 margin-bottom-15">
                                {% include 'FrontFrontBundle:User:memberPhoto.html.twig' with { user : user, class : '', filter : 'profile_photo' } %}
                            </div>
                            <div class="col-md-8">
                                <h2>{{ user.username|capitalize }}</h2>
                                {% if user.getUserTypesText %}
                                    <span class="color-green">{{ user.getUserTypesText }}</span>
                                {% endif %}
                                {% if user.getMusicTypesText %}
                                    <span class="color-green">{{ user.getMusicTypesText }}</span>
                                {% endif %}
                                <hr>
                                {% if user.getBaseline %}
                                    <p>{{ user.getBaseline|capitalize }}</p>
                                {% endif %}
                                {% if user.getDescriptionShort %}
                                    <p>{{ user.getDescriptionShort|raw }}</p>
                                {% endif %}
                                {% if user.getDescription %}
                                    <p>{{ user.getDescription|raw }}</p>
                                {% endif %}
                                {% if user.getAddress %}
                                    <p>{{ user.getAddress }}</p>
                                {% endif %}

                                {% if user.hasNoDetails %}
                                    {% if app.user and app.user == user %}
                                        {% include 'FrontFrontBundle::addBlock.html.twig' with  { 
                                            path : path('front_user_edit', { id : app.user.id } ), 
                                            title : 'add_block.user.details.add_title'|trans, 
                                            paragraphe: 'add_block.user.details.add_paragraphe'|trans 
                                        } %}
                                    {% else %}
                                        {% include 'FrontFrontBundle::infoBlock.html.twig' with  { 
                                            title : 'info_block.user.details.info_title'|trans, 
                                            paragraphe: 'info_block.user.details.info_paragraphe'|trans 
                                        } %}
                                    {% endif%}
                                {% endif %}
                                <div class='margin-top-20 margin-bottom-20'>
                                    {% include 'FrontFrontBundle:User:userSocialIcons.html.twig'  %}
                                </div>
                            </div>
                        </div>    
                    </div><!--/end row-->

                    <hr>

                    <div class="row">

                        {% render(path('front_user_show_overviews_profile', { id : user.id } )) %}   

                        {% render(path('front_user_loves', { id : user.id } )) %}     

                        <div class="col-sm-6 sm-margin-bottom-30" >
                            <div class="panel panel-profile">
                                <div class="panel-heading overflow-h">
                                    <h2 class="panel-title heading-sm pull-left">
                                        {% trans %}event.share_this{% endtrans %}
                                    </h2>
                                </div>
                                <div class="panel-body">

                                    {% include 'FrontFrontBundle::socialIcons.html.twig' %}

                                </div>
                            </div>
                        </div>


                    </div><!--/end row-->    

                    <hr>                           

                    {% include 'FrontFrontBundle:User:timeline.html.twig'  %}

                    <hr>

                    <div class="row">

                        {% include 'FrontFrontBundle:User:photos.html.twig'  %}

                        {% include 'FrontFrontBundle:User:videos.html.twig'  %}

                        {% include 'FrontFrontBundle:User:musics.html.twig'  %}

                    </div><!--/end row-->
                </div>
            </div>
            <!-- End Profile Content -->
        </div>
    </div>		
    <!--=== End Profile ===-->

{% endblock %}


{% block bottomJavascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("front/js/plugins/cube-portfolio/cube-portfolio-4-fw.js") }}"></script>


    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            App.initCounter();
            App.initParallaxBg();
            RevolutionSlider.initRSfullScreenOffset();
            PortfolioPage.init();

        });
    </script>

{% endblock %}    

