{% extends 'FrontFrontBundle::layout.html.twig' %}

{% block title %}
    {{ user.username|capitalize }}
{% endblock %}
{% block head %}
    {{ parent() }}
    <meta name="description" content="{{ user.getDescriptionShort|striptags }}" />
    <!-- partage facebook -->
    <meta property="og:title" content="{{ user.username|capitalize }}" />
    <meta property="og:description" content="{{ user.getDescriptionShort|striptags }}" />
    <!--<meta property="og:image" content="URL_image" />-->
    <!-- partage facebook -->
{% endblock %}

{% block topJavascripts %}   
    {{ parent() }}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key={{ google_map_api_key }}">
    </script>
{% endblock %}    

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("front/css/pages/portfolio-v2.css") }}">
    <link rel="stylesheet" href="{{ asset("front/css/pages/profile.css") }}">
    <link rel="stylesheet" href="{{ asset("front/css/pages/shortcode_timeline2.css") }}">
    <link rel="stylesheet" href="{{ asset("front/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css") }}">    
    <link rel="stylesheet" href="{{ asset("front/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css") }}">
{% endblock %}    



{% block content %}


    <!--=== Profile ===-->
    <div class="container content profile">	
        <div class="row">

            <!-- Profile Content -->
            <div class="col-md-12">
                <div class="profile-body">
                    <div class="profile-bio">
                        <div class="row">
                            <div class="col-md-4 margin-bottom-15">
                                {% include 'FrontFrontBundle:User:memberPhoto.html.twig' with { user : user, class : '', filter : 'profile_photo' } %}
                            </div>
                            <div class="col-md-8">
                                <h2>{{ user.username|capitalize }}</h2> 
                                {% if app.user is not null and app.user == user and is_granted('ROLE_USER') %}
                                    <a class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs " href="{{ path('front_user_edit', {id: user.id} ) }}">{% trans %}front.edit{% endtrans %}</a>
                                {% endif %}
                                {% if user.getUserTypesText %}
                                    <span class="color-green">{{ user.getUserTypesText }}</span>
                                {% endif %}
                                {% if user.getMusicTypesText %}
                                    <span class="color-green">{{ user.getMusicTypesText }}</span>
                                {% endif %}
                                <hr>
                                {% if user.getBaseline %}
                                    <p>{{ user.getBaseline|capitalize }}</p>
                                {% endif %}
                                {% if user.getDescriptionShort %}
                                    <p>{{ user.getDescriptionShort|raw }}</p>
                                {% endif %}
                                {% if user.getDescription %}
                                    <p>{{ user.getDescription|raw }}</p>
                                {% endif %}
                                {% if user.getAddress %}
                                    <p>{{ user.getAddress }}</p>
                                {% endif %}
                                <div class='margin-top-20 margin-bottom-20'>
                                    {% include 'FrontFrontBundle:User:userSocialIcons.html.twig'  %}
                                </div>
                            </div>
                        </div>    
                    </div><!--/end row-->

                    <hr>

                    <div class="row">

                        {% render(path('front_user_show_overviews_profile', { id : user.id } )) %}   

                        {% render(path('front_user_loves', { id : user.id } )) %}                               


                    </div><!--/end row-->    

                    <hr>                           

                    {% include 'FrontFrontBundle:User:timeline.html.twig'  %}

                    <hr>

                    <div class="row">

                        {% include 'FrontFrontBundle:User:photos.html.twig'  %}

                        {% include 'FrontFrontBundle:User:videos.html.twig'  %}

                        {% include 'FrontFrontBundle:User:musics.html.twig'  %}

                    </div><!--/end row-->
                </div>
            </div>
            <!-- End Profile Content -->
        </div>
    </div>		
    <!--=== End Profile ===-->

{% endblock %}


{% block bottomJavascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("front/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("front/js/plugins/cube-portfolio/cube-portfolio-4-fw.js") }}"></script>


    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            App.initCounter();
            App.initParallaxBg();
            RevolutionSlider.initRSfullScreenOffset();
            PortfolioPage.init();

        });
    </script>

{% endblock %}    

