<ul class="social-icons">
    {% if user.facebookLink %}
        <li>
            <a class="social_facebook" data-original-title="Facebook" href="{{ user.facebookLink }}"></a>
        </li>
    {% endif %}
    {% if user.googleLink %}
        <li>
            <a class="social_googleplus" data-original-title="Google Plus" href="{{ user.googleLink }}"></a>
        </li>
    {% endif %}
    {% if user.tumblrLink %}
        <li>
            <a class="social_tumblr" data-original-title="Tumblr" href="{{ user.tumblrLink }}"></a>
        </li>
    {% endif %}
    {% if user.twitterLink %}
        <li>
            <a class="social_twitter" data-original-title="Twitter" href="{{ user.twitterLink }}"></a>
        </li>
    {% endif %}
    {% if user.linkedinLink %}
        <li>
            <a class="social_linkedin" data-original-title="Twitter" href="{{ user.linkedinLink }}"></a>
        </li>
    {% endif %}
    {% if user.flickrLink %}
        <li>
            <a class="social_flickr" data-original-title="Twitter" href="{{ user.flickrLink }}"></a>
        </li>
    {% endif %}
    {% if user.instagramLink %}
        <li>
            <a class="social_instagram" data-original-title="Twitter" href="{{ user.instagramLink }}"></a>
        </li>
    {% endif %}
    {% if user.vimeoLink %}
        <li>
            <a class="social_vimeo" data-original-title="Twitter" href="{{ user.vimeoLink }}"></a>
        </li>
    {% endif %}
    {% if user.youtubeLink %}
        <li>
            <a class="social_youtube" data-original-title="Twitter" href="{{ user.youtubeLink }}"></a>
        </li>
    {% endif %}
</ul>