<div class="margin-bottom-30">

    {% if form.vars.value.event %}
        {% set target_user = form.vars.value.event.user %}
    {% endif %}
    {% if form.vars.value.user %}
        {% set target_user = form.vars.value.user %}
    {% endif %}

    {% if app.user is not null and app.user == target_user and is_granted('ROLE_USER') %}

        {{ form_start(form, { 'attr' : { 'class' : 'newAddress' } } ) }}

        <div class="col-md-10">
            {{ form_row(form.name) }}
            {{ form_row(form.street) }}
            {{ form_row(form.streetComplement) }}
            {{ form_row(form.postcode) }}
            {{ form_row(form.city) }}                                    
            {{ form_row(form.country) }}
        </div>

        <div class="col-md-2">
            {{ form_widget(form.submit, { 'attr' : { 'class' : 'btn btn-success btn-md pull-left margin-bottom-10' } } ) }}

        </div>

        {{ form_end(form) }}

    {% endif %}

</div>
