<div class="grid-boxes-in" id="address_{{ address.id }}">

    <div class="grid-boxes-caption">

        <p>
            {% include 'FrontFrontBundle:Address:template.html.twig' %}
        </p> 

        {% if app.user is not null and app.user == address.getUser() and is_granted('ROLE_USER') %} 
            <p> 
                <button class="modifyAddress btn-u btn-u-green m-r-10" data-address-id="{{ address.id }}" href="{{ path('front_address_edit', { 'id': address.id }) }}">
                    <i class='fa fa-pencil'></i> {{ 'Edit'|trans }}
                </button> 

                <button class="deleteAddress btn-u btn-u-red"  data-address-id="{{ address.id }}"  href="{{ path('front_address_delete', { 'id': address.id }) }}">
                    <i class='fa fa-times'></i> {{ 'Delete'|trans }}
                </button>
            </p>
        {% endif %}   
    </div>

    {% include 'FrontFrontBundle::flashbags.html.twig'%}

    {% if not address.isValid %}
        <script type="text/javascript">
            toastr.warning("{% trans with { '%NAME%' : address } %}toastr.load.address.not_valid{% endtrans %}");
        </script>
    {% endif %}
</div>