{% if address.name %}
    <h3>{{ address.name|capitalize }}</h3>
{% endif %}
{% if address.street %}
    <strong>{% trans %}address.street{% endtrans %}</strong> : {{ address.street|capitalize }}</br>
{% endif %}
{% if address.streetComplement %}
    <strong>{% trans %}address.streetComplement{% endtrans %}</strong> : {{ address.streetComplement|capitalize }}</br>
{% endif %}
{% if address.city %}
    <strong>{% trans %}address.city{% endtrans %}</strong> : {{ address.city|capitalize }}</br>
{% endif %}
{% if address.postcode %}
    <strong>{% trans %}address.postcode{% endtrans %}</strong> : {{ address.postcode|capitalize }}</br>
{% endif %}
{% if address.country %}
    <strong>{% trans %}address.country{% endtrans %}</strong> : {{ address.country|capitalize }}</br>
{% endif %}