<!--=== Header v3 ===-->    
<div class="header-v3">
    <!-- Navbar -->
    <div class="navbar navbar-default mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand" href="{{ path('home')}}">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                <div class="container">
                    <ul class="nav navbar-nav">

                        <li class='hide-for-desktop'>
                            <a href="{{ path('home') }}">
                                <i class="fa fa-search"></i> <strong>{% trans %}navbar.home_mobile{% endtrans %}</strong>
                            </a>
                        </li>
                        <li class='hide-for-desktop'>
                            <a href="{{ path('landing-share-event') }}" >
                                <strong>{% trans %}front.landing_share_event{% endtrans %}</strong>
                            </a>
                        </li>

                        {% include 'FrontFrontBundle:Navbar:navbar_festivals.html.twig' %}  

                        {{ render_esi( path('navbar_discover')) }}

                        {{ render_esi( path('navbar_learn')) }}

                        {{ render_esi( path('navbar_meet')) }}

                        {% include 'FrontFrontBundle:Navbar:languageSwitcher.html.twig' %}  

                        {% include 'FrontFrontBundle:Navbar:navbar_users.html.twig' %}  

                    </ul>
                </div><!--/end container-->
            </div><!--/navbar-collapse-->
        </div>    
    </div>            
    <!-- End Navbar -->
</div>
<!--=== End Header v3 ===-->