
{% if not is_granted("ROLE_USER") %}
    <li>
        <a href="{{ path('fos_user_registration_register') }}">
            <i class="fa fa-pencil"></i>
            {% trans %}navbar.register{% endtrans %}
        </a>
    </li>
    <li class="topbar-devider">                        
    </li>   
    <li>
        <a href="{{ path('fos_user_security_login') }}">
            <i class="fa fa-lock"></i>
            {% trans %}navbar.login{% endtrans %}
        </a>
    </li>
{% endif %}

{% if is_granted("ROLE_USER") %}
    <li class="dropdown mega-menu-fullwidth">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
            <strong>{{ app.user.getName|capitalize }}</strong>
        </a>
        <ul class="dropdown-menu">
            <li>
                <div class="mega-menu-content disable-icons">
                    <div class="container">
                        <div class="row equal-height">

                            <div class="col-md-4 equal-height-in">
                                <ul class="list-unstyled equal-height-list">
                                    <li class='sm-hidden'>
                                        <h3>{% trans %}navbar.user.profile{% endtrans %}</h3>
                                    </li>

                                    <li>
                                        <a href="{{ path('front_user_show_public', { id : app.user.id, username : app.user.username } ) }}">
                                            <i class="fa fa-user"></i> 
                                            {% trans %}navbar.user.my_page{% endtrans %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('front_user_edit', { id : app.user.id } ) }}">
                                            <i class="fa fa-pencil"></i>
                                            {% trans %}navbar.user.my_profile{% endtrans %} 
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}">
                                            <i class="fa fa-power-off"></i>
                                            {% trans %}navbar.logout{% endtrans %}
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-4 equal-height-in">
                                <ul class="list-unstyled equal-height-list">
                                    <li class='sm-hidden'>
                                        <h3>{% trans %}navbar.user.events{% endtrans %}</h3>
                                    </li>
                                    <li>
                                        <a href="{{ path('front_user_events') }}">
                                            <i class="fa fa-bars"></i>
                                            {% trans %}navbar.user.my_events{% endtrans %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('front_user_next_events') }}">
                                            <i class="fa fa-sort-amount-asc"></i>
                                            {% trans %}navbar.user.next_events{% endtrans %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('front_user_passed_events') }}">
                                            <i class="fa fa-sort-amount-desc"></i>
                                            {% trans %}navbar.user.passed_events{% endtrans %}
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-4 equal-height-in">
                                <ul class="list-unstyled equal-height-list">
                                    <li class='sm-hidden'>
                                        <h3>{% trans %}navbar.user.add_events{% endtrans %}</h3>
                                    </li>
                                    <li>
                                        <a href="{{ path('front_event_new') }}">
                                            <i class="fa fa-plus"></i> {% trans %}navbar.user.add_event{% endtrans %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('facebook_import_event_page') }}" class="btn btn-facebook-inversed btn-facebook-import text-left-important">
                                            <i class="fa fa-facebook"></i> 
                                            {% trans %}navbar.user.import_facebook{% endtrans %}
                                        </a>
                                    </li>

                                </ul>
                            </div>


                        </div>
                    </div>    
                </div>    
            </li>
        </ul>
    </li>
{% endif %}