{% extends 'AdminAdminBundle::layout.html.twig' %} {% trans_default_domain 'AdminBundle' %}

{% set action_path = path('admin_event_edit' , { id: entity.id, editId: editId }) %}

{% block content -%}

    <div class="row">
        <div class="col-md-9 pull-left">
            <h1 class="page-header">{% trans %}admin.event_edit{% endtrans %}</h1>
        </div>
        <div class="col-md-3 pull-right">
            <a href="{{ path('admin_event') }}" class="btn btn-warning btn-sm pull-right">
                <i class="glyphicon glyphicon-arrow-left"></i>
                <span> {% trans %}admin.back_to_list{% endtrans %}</span>
            </a>
            <div class='pull-right'>
                {% form_theme delete_form with ['AdminAdminBundle:Form:bootstrap_form_delete_override.html.twig'] %}
                {{ form(delete_form) }}
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">    
            <div class="panel panel-info">
                <div class="panel-body">

                    {% form_theme edit_form with ['AdminAdminBundle:Form:bootstrap_form_override.html.twig'] %}
                    {{ form(edit_form) }}

                </div>
            </div>
        </div>   
    </div>   
    <div class="panel panel-default">
        <div class="panel-body">    
            <div class="panel panel-info">
                <div class="panel-body">

                    <div id="picture" class="profile-edit">

                        <h2 class="heading-md">{% trans %}admin.event.photos{% endtrans %}</h2>
                        <br>

                        {% include 'FileFileBundle::uploadFileForm.html.twig' with {
                                action_path: action_path,
                                cancel_path: null,
                                delete_path: '',
                                id: entity.id, 
                                editId: editId, 
                                existingFiles: existingFiles,
                                entity: entity,
                        } %}

                    </div>
                </div>
            </div>
        </div>   
    </div>   

{% endblock %}

{% block bottomJavascripts %}
    {{ parent() }}

    <script src="{{ asset('front/js/underscore-min.js') }}" type="text/javascript"></script>

    <script src="{{ asset('bundles/punkavefileuploader/js/jquery.fileupload.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/jquery.iframe-transport.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/FileUploader.js') }}" type="text/javascript"></script>  

    {% include 'FileFileBundle::uploadFileJs.html.twig' with {
            action_path: action_path,
            cancel_path: null,
            delete_path: '',
            id: entity.id, 
            editId: editId, 
            existingFiles: existingFiles,
            entity: entity,
    } %}
{% endblock %} 