{% extends 'AdminAdminBundle::layout.html.twig' %}

{% block content -%}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class='admin-title'>
            <div class='pull-left'>
                <h1>{% trans %}admin.user_show_title{% endtrans %}</h1>
            </div>

            <div class='pull-right'>
                {% form_theme delete_form with ['AdminAdminBundle:Form:bootstrap_form_delete_override.html.twig'] %}
                {{ form(delete_form) }}
            </div>

            <div class='pull-right'>
                <a href="{{ path('admin_user') }}" class="btn btn-warning btn-sm pull-right">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                    <span> {% trans %}admin.back_to_list{% endtrans %}</span>
                </a>
            </div>
        </div>
    </div>
        
    <div class="panel-body">    

        <div class="panel panel-info">
            <div class="panel-heading">
               {% if entity.profilePicture %}
                    <img src='{{ asset(entity.profilePicture.thumbnailsPathUri) }}' /> {{ entity.username }}
               {% endif %}
            </div>
            <div class="panel-body">

                <table class="record_properties">
                <tbody>
                    <tr>
                        <th>Facebook_id</th>
                        <td>{{ entity.facebookid }}</td>
                    </tr>
                    <tr>
                        <th>Facebook_access_token</th>
                        <td>{{ entity.facebookaccesstoken }}</td>
                    </tr>
                    <tr>
                        <th>Google_id</th>
                        <td>{{ entity.googleid }}</td>
                    </tr>
                    <tr>
                        <th>Google_access_token</th>
                        <td>{{ entity.googleaccesstoken }}</td>
                    </tr>
                </tbody>
                </table>



            </div>

            <div class='panel-footer'>
                {% set action_path = path('admin_user_show' , { id: entity.id, editId: editId }) %}
                {% include 'FileFileBundle::uploadFileForm.html.twig' with {
                        action_path: action_path,
                        cancel_path: 'admin_user',
                        delete_path: 'admin_user_delete',
                        id: entity.id, 
                        editId: editId, 
                        existingFiles: existingFiles,
                        entity: entity,
                } %}

            </div>    
        </div>
        
     </div>   

{% endblock %}
        
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/underscore-min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/jquery.fileupload.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/jquery.iframe-transport.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/punkavefileuploader/js/FileUploader.js') }}" type="text/javascript"></script> 
{% endblock %}           
